<%= _.template(require('../html-includes/header.html').default)() %>

<section class="auth section-padding">
  <div class="auth-background">
    <div class="auth-form flex flex-col items-center">
      <div class="title text-center mb-2">
        Восстановление
        пароля
      </div>
      <div class="text-center text-sm opacity-60 mb-6 sm:mb-9">
        Мы отправили на указанный почтовый адрес письмо
        с кодом, необходимым для восстановления пароля
      </div>
      <label class="relative  w-full">
        <div class="text-sm mb-2 font-semibold">Ваш e-mail</div>
        <div class="relative">
          <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
            <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#email-contur"></c-icon>
          </div>
          <input type="text" class="input rounded-xl w-full pl-12" placeholder="Напишите почту...">
        </div>
      </label>


      <button class="btn btn-theme-fill px-9 mx-auto mt-8 rounded-full">Восстановить пароль</button>


    </div>
  </div>
</section>

<%= _.template(require('../html-includes/footer.html').default)() %>