<%= _.template(require('../html-includes/header.html').default)() %>


<section class="section-padding relative">
  <%= _.template(require('../html-includes/breadcrumps.html').default)() %>

  <div class="title section-title">Награды</div>

  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2 lg:gap-7">
    <% for(let i = 0; i < 10; i++) { %>
    <a href="img/test0.gif" data-fancybox="awards" data-caption="Орден “Знак Почета <%= i %>” 12.04.1997" class="awards-item ratio ratio-[286/402]">
      <div class="awards-item-image">
        <img src="img/award.jpg" alt="" class="absolute-fit">
      </div>
      <div class="awards-item-content flex flex-col items-center justify-center text-center text-white bg-sec">
        <c-icon class="icon text-5.5xl" href="img/icons.svg#medal"></c-icon>
        <div class="font-alt text-xl font-semibold mt-8">Орден “Знак Почета”</div>
        <div class="font-alt mt-2">12.04.1997</div>
      </div>
    </a>
    <% } %>
  </div>
</section>

<%= _.template(require('../html-includes/footer.html').default)() %>