<%= _.template(require('../html-includes/header.html').default)() %>

<section class="relative max-sm:pt-4 py-14">
  <%= _.template(require('../html-includes/breadcrumps.html').default)() %>
  <div class="h-px bg-l2 mb-10 max-sm:hidden"></div>
  <div class="detail-nav mb-7 sm:mb-9">
    <button class="btn btn-icon btn-theme-contur-2 btn-sm rounded-full text-primary">
      <c-icon class="icon text-2xl" href="img/icons.svg#arrow-left"></c-icon>
    </button>
    <div>
      <div class="text-primary opacity-80">О Мацесте</div>
    </div>
  </div>
  <div class="detail-content  mx-auto max-sm:text-sm">
    <div class="flex flex-col items-start gap-7">
      <div class="title"> История Мацесты </div>


      <div>
        «Мацеста» — это крупнейший бальнеологический курорт России, расположившийся в городе-курорте Сочи. Сама природа, одарив Сочи уникальным сочетанием субтропического климата, теплого моря, обилия солнца, экзотической растительности, окружения гор и богатства минеральных источников, позаботилась о том, чтобы этот город стал идеальным многопрофильным круглогодичным курортом.
      </div>

      <div class="rounded-2xl sm:rounded-base overflow-hidden w-full my-5">
        <picture>
          <source media="(min-width: 600px)" srcset="img/history/history.jpg">
          <img loading="lazy" src="img/history/history-mobile.jpg" alt="" class="w-full">
        </picture>
      </div>

      <div class="text-xl font-semibold">Начало нашей эры</div>
      <div>
        137 году н.э. римскую крепость Себастополис, возникшую незадолго до этого на месте современного Сухуми, посетил известный полководец Флавий Арриан. В своем письме римскому императору Адриану он дал описание побережья в окрестностях теперешнего Сочи, где в то время были зафиксированы реки (в том числе и река Масаитика). В 5 веке нашей эры этот список смотрелся уже несколько иначе (идет перечисление рек, в том числе упомянута и река Масетика). Река Масаитика – Масетика в своей основе сближаются с современным топонимом – Мацеста… Долина реки Мацесты в те далекие времена была известна не только местным племенам, но и пришельцам из далекой Греции, Рима, Византии. Об этом говорят развалины римско — византийских укреплений на побережье современного Сочи, находки погребальных комплексов. Достаточно яркий погребальный комплекс доследован в 1966 году на Мацесте.
      </div>
      <div>
        Инвентарь погребения включал длинный железный меч с навершием, глиняный кувшин, стеклянный сосуд, бронзовую фибулу, серебряный канфаровидный сосуд с многосюжетным изображением на облицовывающей корпус пластине, три серебряные монеты, чеканенные Риме и в Кесарии Каппадокийской (98-117 г.г. н.э.). Дата погребения определяется фибулой, характерной для 3 века нашей эры. (Ю.Н. Воронов. Древности Сочи и его окрестностей / Краснодар. 1979) Нет сомнения в том, что римляне и другие пришельцы знали о целебных источниках и, надо полагать, пользовались ими. Даже в древнегреческой мифологии упоминается как Медея, дочь Колхидского царя, лечила отца предводителя аргонавтов серой, огнем и водой. Это наводит на мысль , что подразумевается сероводородная огненная – вода Мацеста, источники которой уже в те, древние времена, пользовались популярностью на всем Кавказском побережье, в том числе и Колхиде.
      </div>

      <!-- Мацеста в XIX веке -->
      <div class="text-xl font-semibold">Мацеста в XIX веке</div>

      <div class="flex items-start lg:items-center gap-8 max-lg:flex-col">
        <img loading="lazy" src="img/history/1.jpg" alt="" class="rounded-xl shrink-0 max-xs:w-full">
        <div>
          Но впервые в мировой литературе о Мацесте было упомянуто
          в 1841 году. В этом году английский путешественник Дж. Белл издал в Париже «Дневник пребывания в Черкессии в течение 1837, 1838, 1839 годов», где говорится:
          <br><br>
          <i>
            «Мне также передавали, что по другую сторону Сочи находится
            холодный источник, богатый серой».
          </i>
        </div>
      </div>

      <div>
        Позже агроном А.В. Верещагин, также путешествовавший по Черноморскому побережью, издал в Москве в 1874 году «Путевые заметки по Черноморскому округу». Автор сообщает:
        <br><br>
        <i> «… при следовании по ущелью реки Мацесты почти на таком же расстоянии от морского берега, как и Агурский источник, на левом берегу я также встретил серные источники: два из них выходили из отверстий скалы, имевших форму кибитки… Проводник мой, бывший долгое время в плену у черкесов, объяснил, что неподалеку находится обширный грот, дно которого представляет котловину, наполненную серной водой. Запах серы я почувствовал еще издали, возле же источников, на обнаженных скалах заметил следы серы… Упомянутых серных источников на картах не обозначено.» </i>
        <br><br>
        Несмотря на скупую информацию, на уникальные источники уже многие обращают внимание.
        Газета «Кавказ» писала в 1883 году:
        <br><br>
        <i>«Отмечается, что в 6 – 7 верстах от посада Сочи открыты серно-щелочные источники, но о будущем их пока говорить не стоит».</i>
        <br><br>
        Тем не менее, в 1886 году известный российский химик Г.В. Струве произвел первый анализ Мацестинской сероводородной минеральной воды, который показал уникальность этой воды.
        Через 10 лет официальные власти обратили внимание на эти источники и включили их в список всех мест в Кубанской области и Черноморском округе, где до 1893 года были открыты полезные ископаемые и минеральные воды.
        <br><br>
        В 1897 году на Мацесту прибыл еще один ученый — химик С.И. Залесский. Проверив на месте предыдущий анализ минеральной воды, вытекающей из пещер на Старой Мацесте, он с удовлетворением отметил, что по своему химическому составу эта вода имеет огромные преимущества перед уже известными аналогичными источниками.
        Таким же образом не менее известный российский ученый А.И.Фомин в 1898 году произвел еще один анализ Мацестинской воды и подтвердил правильность предыдущих выводов об уникальности этих источников.
        <br><br>
        В те годы, после окончания Харьковского университета, в этот район прибыл молодой русский врач Виктор Францевич Подгурский. Он ознакомился с Мацестинскими источниками. Его заинтересовали рассказы местных жителей об этой целебной воде, различные легенды. В.Ф. Подгурский загорелся идеей использовать эти источники цивилизованным методом. В 1898 году он выступил во «Врачебной газете» с большой статьей о Мацестинских источниках, в которой, в частности, говорилось:
        <br><br>
        <i> «Старики черкесы из оставшихся аулов в Сочинском районе подтверждают, что источники считались у народа , населявшего побережье, целебными. Со всех сторон стекались к ним , страдавшие разными недугами. Я ознакомился с источниками и увидел оставшиеся от купания ямы, а у входа в пещеры – огарки свечей и множество развешанных тряпочек, как благодарственное приношение больных, искавших и находивших исцеление».</i>
        <br><br>
        Известность о целебных свойствах Мацестинских источников стала уже всероссийской.
      </div>
      <!-- /Мацеста в XIX веке -->

      <!-- Начало XX века -->
      <div class="text-xl font-semibold">Начало XX века</div>

      <div class="flex items-start lg:items-center gap-8 max-lg:flex-col">
        <img loading="lazy" src="img/history/2.jpg" alt="" class="rounded-xl shrink-0 max-xs:w-full">
        <div>
          В 1901 году министр земледелия и государственного имущества Алексей Сергеевич Ермолов предложил создать на Мацесте курорт.
          <br><br>
          Предполагалось привлечь для этого частный капитал. Но желающих не нашлось, хотя источники все больше и больше привлекали внимание больных, пытавшихся лечиться на свой страх и риск. В то время добраться из Сочи на Мацесту было не просто. Дорога была длинная и утомительная.
        </div>
      </div>

      <div>
        Свое путешествие на Мацесту, 1902 года, интересно описывал старейший врач курорта К.А. Гордон:
        <br><br>
        <i>
          «… Но вот, наконец, и цель нашего путешествия. Большая ровная поляна у подножия белых известковых скал, расположенных полукругом и поросших густым лесом. Небольшой деревянный барак , кое- как крытый почерневшей дранкой, в нем на камнях установлена жестяная ванна. Пациент сам может натаскать воды, собрать в лесу дров, и, разложив огонь, принимать теплые ванны , но в этот жаркий день барак был пуст, и все больные, человек 10 – 15 принимали процедуры под открытым небом. Из пещеры у подножия известковых скал вытекал ручеек минеральной воды с сильным запахом сероводорода и впадал в речку. На его пути на поляне было вырыто несколько ям, обложенных плоскими камнями. В этих примитивных бассейнах и купались немногочисленные больные. Все купались без костюмов, откинув стыд во имя здоровья, как это имело место, впрочем, и на многих античных и средневековых курортах. Никто не наблюдал за правильностью и методикой приема ванн, каждый лечился так, как сам считал правильным.
          <br><br>
          Не обходилось поэтому и без трагических случаев. Некоторые чрезмерно предприимчивые пациенты пытались купаться в водах источника, пока он еще не покинул недр земли, залезали в пещеры, откуда вытекала вода, и задыхались там от избытка сероводорода.
          <br><br>
          Поэтому вход в гроты мы нашли закрытым решетками из тонких жердей, на которых были прибиты предостерегающие надписи. На поляне, кроме приема ванн, некоторые больные проводили курс грязелечения: обмазав больные области тела черной грязью, обильно скапливавшейся на берегах и дне водоемов c мацестинской водой, они лежали на траве под солнцем, прикрыв головы ветками или материей. Мне запомнился особенно один атлетического телосложения кавказец, который лечился прикладыванием Мацестинской грязи к изуродованной руке и обезображенному рубцами лицу последствиями, как нам рассказывали, неудачной встречи с медведицей в ближайших окрестностях Сочи.
        </i>


      </div>

      <div class="flex items-start lg:items-center gap-8 max-lg:flex-col">
        <img loading="lazy" src="img/history/3.jpg" alt="" class="rounded-xl shrink-0 max-xs:w-full">
        <div>
          Яркое воспоминание у меня оставило следующее: кусты инжира и кизила, росшие на скалах, из-под которых вытекал целебный источник, издали казались покрыты массой красных цветов. Когда мы подошли ближе, то увидели, что это не цветы, а кусочки красной ткани, привязанные к веточкам. Одни из них были уже полуистлевшими, другие еще совсем новыми. Нам объяснили, что это приношения, которые, согласно древнему обычаю, оставляют Духу источника в благодарность за исцеление лечившиеся здесь больные. Какой глубокой стариной веяло от всего этого.
        </div>
      </div>
      <div>
        Будто мы перенеслись на много-много веков назад, в далекие времена язычества, когда на заре истории люди возносили хвалу богам лесов, гор и воды. Да кто знает, может быть, такой и была эта поляна веками.
        <br><br>
        А.С. Ермолов продолжал изыскивать возможность устройства курорта на Мацесте. Начались переговоры с Сочинским благотворительным обществом, но и у общества денег не было, тогда Ермолов предложил использовать на эти цели средства от продажи участков братьев Верещагиных (в районе Светланы).
      </div>
      <!-- /Начало XX века -->

      <!-- Первые шаги развития -->
      <div class="text-xl font-semibold">Первые шаги развития</div>

      <div class="flex items-start lg:items-center gap-8 max-lg:flex-col">
        <img loading="lazy" src="img/history/4.jpg" alt="" class="rounded-xl shrink-0 max-xs:w-full">
        <div>
          24-летний выпускник медицинского факультета Харьковского университета Виктор Францевич Подгурский (1874-1927) впервые ступил на сочинскую землю 2 июля 1898 года. И именно ему суждено было стать идейным вдохновителем и одним из основателей всемирно известного ныне курорта «Мацеста». Он начал изучение действия мацестинских ванн на организм человека. 15 сентября 1902 года состоялось торжественное освящение первого ванного здания. Это было небольшое деревянное строение, где было установлено две деревянные ванны и В.Ф. Подгурский начал лечить больных под медицинским наблюдением.
        </div>
      </div>

      <div>
        В день открытия первого ванного здания у пещер на Старой Мацесте организовали большой банкет, на котором присутствовали многие горожане, священослужители, а также сам министр А.С. Ермолов. <br>
        Этот день был отмечен в книге С. Васюкова. В ней говорилось, что 15 сентября 1902 года на Мацесте по инициативе А.С. Ермолова оборудовано небольшое ванное здание и тем положено начало устройству курорта. Именно этот день и считается днем начала развития Сочи как бальнеологического курорта.
        <br><br>
        После 1904г. появились ещё 4 ванны, а в 1911г. — 18 ванн. <br>
        14 августа 1910 года коммерсант Михаил Михайлович Зензинов (1850-1926) получил в аренду «Мацестинские серные источники». Имя М.М. Зензинова вошло в историю Сочи как одного из основателей мацестинского курорта, всесторонне одаренного человека, широко известной личности. Московский коммерсант, член Государственной Думы, владелец нескольких золотых приисков в Сибири, чаеторговец, издатель, меценат М.М. Зензинов совместно с доктором В.Ф. Подгурским обустраивал для эксплуатации мацестинские серные источники. За год были возведены капитальные здания бальнеолечебницы и гостиницы-пансиона. В 1912 году образовано акционерное общество «Мацестинских серных источников». Зензинов стал председателем правления, а Подгурский – директором-распорядителем. Началось строительство ванного здания Новой Мацесты.
      </div>

      <div class="grid xs:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-7 w-full">
        <a href="img/test0.gif" data-fancybox="gallery-id" class="rounded-xl overflow-hidden ratio ratio-[39/25]">
          <img loading="lazy" src="img/history/5.jpg" alt="" class="absolute-fit object-cover">
        </a>
        <a href="img/test0.gif" data-fancybox="gallery-id" class="rounded-xl overflow-hidden ratio ratio-[39/25]">
          <img loading="lazy" src="img/history/6.jpg" alt="" class="absolute-fit object-cover">
        </a>
        <a href="img/test0.gif" data-fancybox="gallery-id" class="rounded-xl overflow-hidden ratio ratio-[39/25]">
          <img loading="lazy" src="img/history/7.jpg" alt="" class="absolute-fit object-cover">
        </a>
      </div>

      <div>
        Спустя год сюда потянулись первые знаменитости – в ту пору помощник главкома Красной Армии по кавалерии Семён Буденный и еще один герой Гражданской войны комиссар Ян Фабрициус. 24 августа 1929 года Фабрициус погибнет, находясь на отдыхе в Мацесте. Он утонет, спасая пассажиров упавшего в море самолета вблизи Сочи.
        <br><br>
        Ключевую роль в развитии Мацесты сыграл Сталин, впервые отдыхавший и лечившийся здесь в 1928 году. По результатам успешного лечения он не только порекомендовал Мацесту соратникам по партии, но и инициировал превращение Сочи в курорт всесоюзного значения.
        «Мацеста на Сталина повлияла очень хорошо, — писал Микоян в своей книге «Так было». – К концу курса лечения он получил большое облегчение. Боль в руке почти прошла. Он был очень доволен. Но врачи сказали, что одного курса лечения мало, и он стал ездить на Мацесту каждый год» — народный комиссар Союза Анастас Микоян, уговоривший Сталина впервые принять мацестинские ванны.
        <br><br>
        Двумя годами позже в Мацесте появляется санаторий № 7 — позднее институт курортологии и физиотерапии, первая из крупных советских построек на территории Сочи. В генеральном плане развития Сочи-Мацестинского курорта Мацесте отводится немалая роль, в 1930-е гг. здесь строится целый ряд новых зданий — от водолечебниц до портопункта — каждое из которых является памятником архитектуры.
      </div>


      <div class="flex items-start lg:items-center gap-8 max-lg:flex-col">
        <img loading="lazy" src="img/history/8.jpg" alt="" class="rounded-xl shrink-0 max-xs:w-full">
        <div>
          Однако в послевоенные годы добыча наиболее ценной мацестинской воды с высокой концентрацией серы резко упала. Задачу по поиску материнской минералки (по оценкам ученых, ее возраст – 170 миллионов лет) блестяще решил инженер из Орловской губернии Василий Куканов. Причем чиновники не разрешали Куканову глубокое бурение, считая его теорию и выводы ошибочными.
        </div>
      </div>

      <div>
        Тогда Василий Михайлович обратился лично к Корифею науки товарищу Сталину с просьбой выделить несколько буровых установок. Великий вождь дал добро, и в 1949 году вышло постановление правительства «о целесообразности выполнения работ по глубокому бурению на Мацесте». Те, кто работал вместе с Кукановым, вспоминают, что когда достигли проектной отметки бурения, — воды не было, о чем ему сообщили ночью по телефону. Но ученый пошел на риск и распорядился бурить дальше. Еще тридцать сверхпроектных метров и «Мацеста» рванула с глубины 2000 м, как подтверждение перспективы развития курорта Сочи не только как климатического, но и бальнеологического.
        <br><br>
        В XX веке на Мацесте было проведено свыше 220 млн. процедур. В списках пациентов Мацесты значится немало исторических личностей: Калинин М.И., Ворошилов К.Е., Буденный С.М., Устинов Д.Ф., Рокоссовский К.К., Брежнев Л.И., Н.С Хрущев и др.
      </div>

      <!-- /Первые шаги развития -->
    </div>
  </div>

</section>
<%= _.template(require('../html-includes/footer.html').default)() %>