<%= _.template(require('../html-includes/header.html').default)() %>


<section class="section-padding relative">
  <%= _.template(require('../html-includes/breadcrumps.html').default)() %>

  <div class="title section-title">Карта сайта</div>


  <div class="leading-loose">
    <ul class="pl-4 list-disc">
      <li>Amocrm test</li>
      <li>SEA GALAXY Hotel Congress & SPA 4*</li>

      <li>
        Акции и спецпредложения
        <ul class="pl-4 list-disc">
          <li>Консультация врача по специальной цене</li>
          <li>Скидки для отдельных категорий граждан</li>
          <li>Бесплатный трансфер на «Мацесту»</li>
        </ul>
      </li>

      <li>Аренда</li>
      <li>Бальнеотерапия мацестинской (сероводородной) водой заболеваний кожи и подкожной клетчатки</li>
      <li>Бальнеотерапия мацестинской (сероводородной) водой заболеваний опорно-двигательного аппарата</li>
      <li>Бальнеотерапия мацестинской (сероводородной) водой заболеваний органов малого таза у женщин</li>
      <li>Бронирование</li>
      <li>Бронирование номеров</li>
      <li>Бронирование номеров</li>
      <li>Бронирование номеров в GREEN HOUSE Detox&SPA Hotel</li>
      <li>Бронирование номеров в хостеле</li>
      <li>В каких случаях применяется грязелечение?</li>
      <li>В каких случаях применяется радоновая вода?</li>
      <li>Врач-специалист (дерматовенеролог, невролог)</li>
      <li>Врач-физиотерапевт Амбулаторно-поликлинического отделения</li>
      <li>Врач-физиотерапевт Отделения физиотерапии</li>
      <li>Заведующий отделением физиотерапии</li>
      <li>Задать вопрос врачу</li>
      <li>Какой порядок назначения лечения?</li>
      <li>Карта сайта</li>
      <li>Контакты</li>
      <li>Конференция «КУРОРТ СОЧИ-МАЦЕСТА: СИНЕРГИЯ РЕГИОНАЛЬНЫХ ИНИЦИАТИВ БАЛЬНЕОЛОГИЧЕСКИХ КУРОРТОВ РОССИИ»</li>
      <li>Лаборант</li>
      <li>Лечебные свойства</li>
      <li>Лечение опорно-двигательного аппарата</li>
      <li>Лечение сердечно-сосудистой системы</li>
      <li>Лечение гинекологических заболеваний</li>
      <li>Лечение заболеваний кожи</li>
      <li>Лечение заболеваний мужской мочеполовой системы</li>
      <li>Лечение заболеваний полости рта и десен, носоглотки и придаточных пазух носа</li>
      <li>Медицинская сестра</li>
      <li>Медицинская сестра по физиотерапии</li>
      <li>Медицинская служба</li>
    </ul>
  </div>
</section>

<%= _.template(require('../html-includes/footer.html').default)() %>