<%= _.template(require('../html-includes/header.html').default)() %>

<section class="relative max-sm:pt-4 py-14">
  <%= _.template(require('../html-includes/breadcrumps.html').default)() %>
  <div class="h-px bg-l2 mb-10 max-sm:hidden"></div>
  <div class="detail-nav mb-7 sm:mb-9">
    <button class="btn btn-icon btn-theme-contur-2 btn-sm rounded-full text-primary">
      <c-icon class="icon text-2xl" href="img/icons.svg#arrow-left"></c-icon>
    </button>
    <div>
      <div class="text-primary opacity-80">Услуги</div>
    </div>
  </div>
  <div class="detail-content  mx-auto max-sm:text-sm">
    <div class="flex flex-col items-start gap-7">

      <div class="title">
        Обзорный тур
      </div>
      <p>
        Обзорный тур начнется со знакомства с главной площадью крупнейшего Бальнеологического
        курорта России.
      </p>
      <button class="btn btn-theme-contur-2 gap-2 rounded-full  max-sm:text-sm max-sm:btn-sm">
        <c-icon class="icon text-2xl" href="img/icons.svg#cart-contur"></c-icon>
        В корзину
      </button>

      <a href="img/test0.gif" data-fancybox class="rounded-2xl sm:rounded-base overflow-hidden w-full my-5">
        <img src="img/test0.gif" alt="" class="w-full">
      </a>

      <p>
        Затем Вы пройдете в легендарное ванное здание №4, где ознакомитесь с общими и местными процедурами, узнаете об истории становления Курорта и о современной Мацесте – месторождении сероводородных источников, легенды о целебных свойствах которых слагались веками.
      </p>

      <a href="img/test0.gif" data-fancybox class="rounded-2xl sm:rounded-base overflow-hidden w-full my-5">
        <img src="img/test0.gif" alt="" class="w-full">
      </a>

      <p>
        Ощутите на себе чудодейственные свойства “Огненной воды”…
      </p>

      <div class="grid grid-cols-2 gap-2 sm:gap-3 w-full">
        <a href="https://youtu.be/rSDoXnslLsg" data-fancybox="gallery-id" class="rounded-2xl sm:rounded-base overflow-hidden ratio ratio-[39/25] btn-group">
          <img src="img/test.gif" alt="" class="absolute-fit object-cover">
          <div class="absolute flex inset-0">
            <button class="btn btn-red btn-fill m-auto rounded-xl">
              <c-icon class="icon" href="img/icons.svg#play"></c-icon>
            </button>
          </div>
        </a>
        <a href="img/test0.gif" data-fancybox="gallery-id" class="rounded-2xl sm:rounded-base overflow-hidden ratio ratio-[39/25]">
          <img src="img/test0.gif" alt="" class="absolute-fit object-cover">
        </a>
      </div>

      <p>
        Вы посетите места, в которых принимали Мацестинские ванны величайшие личности прошлого
        столетия и нового века, насладитесь уникальной атмосферой и красотой архитектуры Сталинского
        ампира (советского монументального классицизма).
      </p>
      <p>
        Далее гид проведет Вас к питьевому бювету для дегустации лечебно-столовой минеральной
        воды Пластунского месторождения, где расскажет о ее происхождении и положительном влиянии
        на организм.
      </p>


      <div class="grid grid-cols-2 gap-2 sm:gap-3 w-full">
        <a href="https://youtu.be/rSDoXnslLsg" data-fancybox="gallery-id" class="rounded-2xl sm:rounded-base overflow-hidden ratio ratio-[39/25] btn-group">
          <img src="img/test.gif" alt="" class="absolute-fit object-cover">
          <div class="absolute flex inset-0">
            <button class="btn btn-red btn-fill m-auto rounded-xl">
              <c-icon class="icon" href="img/icons.svg#play"></c-icon>
            </button>
          </div>
        </a>
        <a href="img/test0.gif" data-fancybox="gallery-id" class="rounded-2xl sm:rounded-base overflow-hidden ratio ratio-[39/25]">
          <img src="img/test0.gif" alt="" class="absolute-fit object-cover">
        </a>
      </div>


      <p>
        Завершит обзорный тур знакомство с сердцем Мацесты – ее источниками…
      </p>


      <a href="img/test0.gif" data-fancybox class="rounded-2xl sm:rounded-base overflow-hidden w-full my-5">
        <img src="img/test0.gif" alt="" class="w-full">
      </a>

      <p>
        Вы увидите настоящее чудо природы — Мацестинские пещеры. По своему происхождению они
        являются уникальными, т.к. являются термогидрокарственными — проработанными горячими
        подземными водами, прикоснетесь к “Огненной воде” вытекающей из недр земли, почувствуете
        величие природы и загадаете желание, которое непременно сбудется!
      </p>

      <a href="img/test0.gif" data-fancybox class="rounded-2xl sm:rounded-base overflow-hidden w-full my-5">
        <img src="img/test0.gif" alt="" class="w-full">
      </a>

      <p>
        В ходе обзорного тура гид расскажет древнюю легенду о девушке по имени Мацеста, которая
        проникла через пещеру в подземное царство к духу недр, ценой своей жизни погубила духа
        и вывела на поверхность целебные источники.
      </p>

      <div class="grid grid-cols-2 gap-2 sm:gap-3 w-full">
        <a href="https://youtu.be/rSDoXnslLsg" data-fancybox="gallery-id" class="rounded-2xl sm:rounded-base overflow-hidden ratio ratio-[39/25] btn-group">
          <img src="img/test.gif" alt="" class="absolute-fit object-cover">
          <div class="absolute flex inset-0">
            <button class="btn btn-red btn-fill m-auto rounded-xl">
              <c-icon class="icon" href="img/icons.svg#play"></c-icon>
            </button>
          </div>
        </a>
        <a href="img/test0.gif" data-fancybox="gallery-id" class="rounded-2xl sm:rounded-base overflow-hidden ratio ratio-[39/25]">
          <img src="img/test0.gif" alt="" class="absolute-fit object-cover">
        </a>
      </div>

      <p>
        Вы услышите рассказ о самом первом упоминании этих мест. Еще в 137 году известный полководец
        Флавий Арриан написал письмо римскому императору Адриану, где рассказал о реке Масаитике
        и ее «огненной воде», после погружения в которую, кожа человека становилась красной.
      </p>
      <p>
        Яркие впечатления от путешествия к Огненной воде останутся с Вами надолго… А приятный
        подарок, который Вы непременно получите, даст возможность ощутить целебную силу Мацесты
        в полной мере!
      </p>
    </div>
    <div class="mt-12">
      <div class="title lg:text-2.5xl mb-7">Информация:</div>
      <div class="flex items-center gap-2">
        <c-icon class="icon text-2xl text-primary" href="img/icons.svg#calendar"></c-icon>
        <div class="">
          <span class="font-semibold">Сезонность: </span> обзорный тур «МАЦЕСТА ОГНЕННАЯ ВОДА» осуществляется круглогодично.
        </div>
      </div>
      <div class="flex items-center gap-2 mt-4">
        <c-icon class="icon text-2xl text-primary" href="img/icons.svg#clock"></c-icon>
        <div class="">
          <span class="font-semibold">Продолжительность: </span> 1 час 20 минут (без учета дороги)
        </div>
      </div>
      <div class="mt-8 space-y-3">
        <div class="font-semibold">Время начала тура:</div>
        <div>
          <span class="font-semibold text-primary">Пн - Пт</span> 09:00, 11:00 <span class="opacity-60 max-sm:block">(кроме государственных праздников)</span>
        </div>
        <div>
          <span class="font-semibold text-primary">Сб - Вс</span> 13:00
        </div>
      </div>
      <div class="mt-8">
        <div class=" flex gap-4 items-center">
          <div class="w-16 h-16 relative rounded-xl overflow-hidden shrink-0">
            <img src="img/grapique.jpg" alt="" class="absolute-fit">
          </div>
          <div>
            <div class="font-semibold">График работы объекта показа «Источник»:</div>
            <div class="mt-1">
              <span class="font-semibold text-primary">Пн-Вс:</span> с 8:00 до 19:00
            </div>
            <div class="max-sm:hidden">
              Объект открыт для самостоятельного посещения. Вход через пропускной пункт охраны
            </div>
          </div>
        </div>
        <div class="sm:hidden mt-3 text-xs">
          Объект открыт для самостоятельного посещения. Вход через пропускной пункт охраны
        </div>
      </div>
      <div class="mt-8 font-semibold text-red">
        ВНИМАНИЕ! 04, 09 и 13 октября 2023г. вход на «Источник» для самостоятельного посещения
        приостановлен по техническим причинам
      </div>

      <div class="mt-8">
        <div class="font-semibold">Вход на территорию платный:</div>
        <ul class="pl-4 list-disc mt-1 space-y-1">
          <li>Для взрослых: 150 ₽</li>
          <li>Дети от 7-ми: 75 ₽</li>
          <li>Дети до 7 лет: Бесплатно</li>
        </ul>
      </div>

      <div class="flex mt-8">
        <button class="btn btn-theme-fill gap-2 rounded-full  max-sm:text-sm max-sm:btn-sm">
          <c-icon class="icon text-2xl" href="img/icons.svg#cart-contur"></c-icon>
          В корзину
        </button>
      </div>
      <div class="mt-8">
        Также приобрести обзорный тур Вы можете в нашем «ИНФОЦЕНТРЕ» на 1 этаже в лечебнице № 4
        (г. Сочи, Аллея Челтенхэма, 14) по будням, предварительно позвонив по номеру:
        <a href="tel:8 (800) 301-04-25" class="link-hover font-semibold hover:text-primary max-sm:block max-sm:text-lg max-sm:mt-3">8 (800) 301-04-25</a>
      </div>
    </div>
    <div class="mt-12 space-y-6">
      <div class="title lg:text-2.5xl">Как добраться:</div>
      <p>
        <span class="font-semibold">Из Сочи:</span> <span class="opacity-80">на маршрутном такси № 43 и автобусах №№ 120, 121 до остановки «Рынок»</span>
      </p>
      <p>
        <span class="font-semibold">Из Адлера:</span> <span class="opacity-80">«Олимпийский парк», «Сочи-Парк отель» автобус № 551, ж/д вокзал «Адлер» автобусы №№ 105а, 105с, 552, затем пересадка на остановке «Заря» — необходимо перейти по подземному переходу на противоположную сторону Курортного проспекта – направление движения автотранспорта из центра Сочи), далее на маршрутном такси № 90 до остановки «Старая Мацеста», маршрутное такси № 43 и автобусы №№ 120, 121 до остановки «Рынок».</span>
      </p>
      <p>
        <span class="font-semibold">От железнодорожной станции «Мацеста»:</span> <span class="opacity-80">на маршрутных такси №№ 3, 90 до остановки «Старая Мацеста» и автобусы №№ 120, 121 до остановки «Рынок».</span>
      </p>
      <p>
        <span class="opacity-80">Официальный транспортный портал о городском пассажирском транспорте в г.Сочи</span>

        <a href="https://transport.sochi.ru/" target="_blank" class="btn btn-primary btn-text font-semibold link-hover">
          https://transport.sochi.ru/
        </a>

      </p>
    </div>
  </div>

</section>
<%= _.template(require('../html-includes/footer.html').default)() %>