<%= _.template(require('../html-includes/header.html').default)() %>

<section class="relative max-sm:pt-4 py-14">
  <%= _.template(require('../html-includes/breadcrumps.html').default)() %>
  <div class="h-px bg-l2 mb-10 max-sm:hidden"></div>

  <div class="detail-nav mb-7 sm:mb-9">
    <button class="btn btn-icon btn-theme-contur-2 btn-sm rounded-full text-primary">
      <c-icon class="icon text-2xl" href="img/icons.svg#arrow-left"></c-icon>
    </button>
    <div>
      <div class="text-primary opacity-80">О Мацесте</div>
    </div>
  </div>
  <div class="detail-content flex flex-col items-start gap-7 mx-auto mb-10">
    <div class="title">
      Мацеста - крупнейший
      бальнеологический курорт России
    </div>
    <p>
      «Мацеста» — это крупнейший бальнеологический курорт России, расположившийся в городе-курорте Сочи. Сама природа, одарив Сочи уникальным сочетанием субтропического климата, теплого моря, обилия солнца, экзотической растительности, окружения гор и богатства минеральных источников, позаботилась о том, чтобы этот город стал идеальным многопрофильным круглогодичным курортом.
    </p>
    <a href="img/test0.gif" data-fancybox class="rounded-base overflow-hidden w-full my-5">
      <img src="img/test0.gif" alt="" class="w-full">
    </a>

    <p>
      Главным природным лечебным фактором курорта Сочи и нашей бальнеолечебницы является знаменитая мацеста – уникальная сероводородная вода, легенды о целебных свойствах которой слагались веками. Именно поэтому в центре герба Сочи изображена чаша, наполненная огненной водой и символизирующая Мацесту – сердце нашего курорта.
      Живая вода Мацесты возвращает людям легкость движения, чистоту кожных покровов, восстанавливает функции сердечно–сосудистой и нервной систем, дарует радость материнства, оказывает омолаживающее воздействие на весь организм.
    </p>

    <p>
      С момента открытия в 1902 году на Мацесте первой бальнеолечебницы здесь было отпущено свыше 220 миллионов процедур. Среди пациентов Мацесты было немало известных исторических личностей, в том числе И.В. Сталин – неслучайно его дача располагалась в 300 метрах от мацестинской бальнеолечебницы, и его выбор Сочи в качестве столицы советских курортов – признание роли Мацесты как определяющего фактора.
    </p>
  </div>

  <div class="h-px bg-l2 mb-10 max-sm:hidden"></div>

  <div class="title section-title">Узнайте больше о нашем курорте</div>

  <a href="/service-list.html" class="btn btn-text btn-primary link-hover">Шаблонный список</a>
</section>

<%= _.template(require('../html-includes/footer.html').default)() %>