<%= _.template(require('../html-includes/header.html').default)() %>

<section class="section-padding">
  <div class="lk">
    <%= _.template(require('../html-includes/lk-sidebar.html').default)() %>

    <div class="lk-content">
      <div class="title section-title lg:text-2.5xl">Корзина</div>

      <div class="flex flex-col gap-4">
        <% for(let i = 0; i < 2; i++) { %>
        <%= _.template(require('../html-includes/cart-item.html').default)() %>
        <% } %>
      </div>

      <div class="cart-promo gap-5 flex sm:items-end mt-6 max-sm:flex-col">
        <label class="flex-grow block">
          <div class="text-sm font-semibold mb-2">Введите промокод для скидки</div>
          <input type="text" class="input w-full rounded-lg" placeholder="Введите промокод...">
        </label>
        <button class="btn btn-theme-fill rounded-full">
          Добавить
        </button>
      </div>

      <div class="ml-auto sm:w-80 mt-8 ">

        <div class="flex items-center py-3 font-bold text-xl leading-none">
          К оплате
          <div class="flex-grow self-end border-t-2 border-dotted border-default opacity-50 mx-1"></div>
          20000 ₽
        </div>
        <button class="mt-8 btn btn-theme-fill ml-auto rounded-full px-10">Оформить заказ</button>
        <div class="flex mt-5">
          <a href="javascript:;" class="btn btn-text btn-primary link-hover ml-auto">Читать условия оплаты</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../html-includes/footer.html').default)() %>