<%= _.template(require('../html-includes/header.html').default)() %>

<section class="section-padding">
  <div class="lk">
    <%= _.template(require('../html-includes/lk-sidebar.html').default)() %>

    <div class="lk-content">
      <div class="title section-title lg:text-2.5xl">Личный данные</div>

      <div class="lk-personal-form">
        <c-uploader class="w-56 cursor-pointer rounded-base overflow-hidden block mb-12" name="avatar" value="img/test.jpg"></c-uploader>

        <label class="relative  w-full">
          <div class="text-sm mb-2 font-semibold">Ваше имя</div>
          <div class="relative">
            <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
              <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#user-contur"></c-icon>
            </div>
            <input type="text" class="input rounded-xl w-full pl-12" placeholder="Напишите имя...">
          </div>
        </label>
        <label class="relative  mt-6 w-full">
          <div class="text-sm mb-2 font-semibold">Ваша фамилия</div>
          <div class="relative">
            <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
              <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#user-contur"></c-icon>
            </div>
            <input type="text" class="input rounded-xl w-full pl-12" placeholder="Напишите фамилию...">
          </div>
        </label>
        <label class="relative  mt-6 w-full">
          <div class="text-sm mb-2 font-semibold">Ваше отчество</div>
          <div class="relative">
            <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
              <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#user-contur"></c-icon>
            </div>
            <input type="text" class="input rounded-xl w-full pl-12" placeholder="Напишите отчество...">
          </div>
        </label>
        <label class="relative  mt-6 w-full">
          <div class="text-sm mb-2 font-semibold">Ваш телефон</div>
          <div class="relative">
            <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
              <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#phone-contur"></c-icon>
            </div>
            <input type="tel" class="input rounded-xl w-full pl-12" placeholder="+7 ( _ _ _ ) _ _ - _ _ - _ _ _ ">
          </div>
        </label>
        <label class="relative mt-6 w-full">
          <div class="text-sm mb-2 font-semibold">Ваш e-mail</div>
          <div class="relative">
            <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
              <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#email-contur"></c-icon>
            </div>
            <input type="email" class="input rounded-xl w-full pl-12" placeholder="Напишите почту...">
          </div>
        </label>
        <label class="relative mt-6 w-full">
          <div class="text-sm mb-2 font-semibold">Город проживания</div>
          <div class="relative">
            <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
              <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#location-contur"></c-icon>
            </div>
            <input type="text" class="input rounded-xl w-full pl-12" placeholder="Напишите название...">
          </div>
        </label>
        <label class="relative mt-6 w-full">
          <div class="text-sm mb-2 font-semibold">Дата рождения</div>
          <div class="relative">
            <div class="absolute left-0 h-full pointer-events-none flex items-center pl-4">
              <c-icon class="icon text-2xl opacity-40" href="img/icons.svg#calendar-contur"></c-icon>
            </div>
            <input type="date" class="input rounded-xl w-full pl-12" placeholder="_ _ . _ _ . _ _ _ _">
          </div>
        </label>

        <div class="mt-6 w-full">
          <div class="text-sm mb-2 font-semibold">Пол</div>
          <div class="grid grid-cols-2">
            <label class="flex items-center gap-2 cursor-pointer">
              <input type="radio" name="sex" class="checkbox checkbox-sec rounded-lg bg-l3 cursor-pointer shrink-0" checked>
              <div class="opacity-60 text-xs sm:text-sm">Мужской</div>
            </label>
            <label class="flex items-center gap-2 cursor-pointer">
              <input type="radio" name="sex" class="checkbox checkbox-sec rounded-lg bg-l3 cursor-pointer shrink-0">
              <div class="opacity-60 text-xs sm:text-sm">Женский</div>
            </label>
          </div>
        </div>

        <button class="btn btn-theme-fill mt-10 rounded-full" type="submit">Сохранить</button>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('../html-includes/footer.html').default)() %>