<%= _.template(require('../html-includes/header.html').default)() %>

<section class="section-padding">
  <div class="lk">
    <%= _.template(require('../html-includes/lk-sidebar.html').default)() %>

    <div class="lk-content">
      <div class="title section-title lg:text-2.5xl">Программы лечения</div>

      <div class="flex flex-col gap-5">
        <% for(let i = 0; i < 10; i++) { %>
        <a href="javascript:;" class="flex items-center rounded-2xl bg-l3 card-shadow btn-group p-4 sm:p-2 gap-4 sm:gap-10 max-sm:flex-col">
          <div class="w-full xs:w-56 ratio ratio-[230/178] rounded-xl overflow-hidden shrink-0">
            <img src="img/test0.gif" alt="" class="absolute-fit object-cover">
          </div>
          <div class="">
            <div class="xs:text-xl font-semibold font-alt">Лечебная программа «Стандарт 14 дней»</div>
            <div class="mt-3 flex items-center gap-2 text-primary">
              <c-icon class="icon sm:text-xl" href="img/icons.svg#calendar"></c-icon>
              <div class="text-xs xs:text-sm">Продолжительность курса: 14 дней</div>
            </div>
            <button class="btn btn-theme-contur-2 mt-5 rounded-full">Подробнее</button>
          </div>
        </a>
        <% } %>
      </div>

    </div>
  </div>
</section>

<%= _.template(require('../html-includes/footer.html').default)() %>