<%= _.template(require('./html-includes/header.html').default)() %>

<section class="section-padding relative">
  <%= _.template(require('./html-includes/breadcrumps.html').default)() %>
  <div class="title section-title">Корзина</div>
  <div class="cart">
    <div class="cart-content">
      <div class="cart-header mb-2 rounded-xl text-sm bg-l2 px-4 py-3 max-lg:hidden">
        <div class="opacity-80">Товар</div>
        <div class="opacity-80">Цена</div>
        <div class="opacity-80">Количество</div>
        <div class="opacity-80">Итого</div>
      </div>
      <div class="flex flex-col gap-4">
        <% for(let i = 0; i < 3; i++) { %>
        <%= _.template(require('./html-includes/cart-item.html').default)() %>
        <% } %>
      </div>

      <div class="cart-promo gap-5 flex sm:items-end mt-6 max-sm:flex-col">
        <label class="flex-grow block">
          <div class="text-sm font-semibold mb-2">Введите промокод для скидки</div>
          <input type="text" class="input w-full rounded-lg" placeholder="Введите промокод...">
        </label>
        <button class="btn btn-theme-fill rounded-full">
          Добавить
        </button>
      </div>
    </div>
    <div class="cart-aside">
      <div class="cart-result">
        <div class="text-lg font-alt font-semibold mb-7">Детали заказа</div>
        <div class="border-t border-dashed border-default opacity-50"></div>
        <div class="flex items-center py-3">
          К оплате
          <div class="text-lg font-semibold ml-auto">20000 ₽</div>
        </div>
        <div class="border-t border-dashed border-default opacity-50"></div>
        <button class="mt-8 btn btn-theme-fill w-full rounded-full">Оформить заказ</button>
        <div class="flex mt-7">
          <a href="javascript:;" class="btn btn-text  btn-primary link-hover mx-auto">Читать условия оплаты</a>
        </div>
      </div>
    </div>
  </div>


</section>

<%= _.template(require('./html-includes/footer.html').default)() %>