<%= _.template(require('./html-includes/header.html').default)() %>


<section class="section-padding relative">
  <%= _.template(require('./html-includes/breadcrumps.html').default)() %>

  <div class="title section-title">Врачи</div>

  <div class="grid xl:grid-cols-2 gap-4 sm:gap-6">
    <% for(let i = 0; i < 10; i++) { %>
    <a href="doctor-detail.html" class="doctor-item bg-l3 btn-group card-shadow">
      <div class="doctor-item-image ratio ratio-1/1 rounded-base overflow-hidden">
        <img src="img/video-placeholder.gif" alt="" class="absolute-fit object-cover">
      </div>
      <div class="doctor-item-content">
        <div class="xs:text-lg font-semibold font-alt">Кабак Юлия</div>
        <div class="mt-1 opacity-80 leading-tight max-sm:text-xs">
          Главный врач, доктор
          медицинских наук
        </div>
        <div class="mt-2 sm:mt-5 max-sm:text-sm">
          Стаж: 30 лет
        </div>
        <button class="btn btn-theme-contur-2 mt-5 rounded-full max-sm:hidden">Узнать больше</button>
      </div>
    </a>
    <% } %>
  </div>

  <div class="mt-11 flex gap-4">
    <button class="btn btn-icon btn-sm rounded-xl btn-theme-fill">1</button>
    <button class="btn btn-icon btn-sm rounded-xl btn-theme-contur-2">2</button>
    <button class="btn btn-icon btn-sm rounded-xl btn-theme-contur-2">3</button>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)() %>