<%= _.template(require('./html-includes/header.html').default)() %>


<section class="section-padding relative">
  <%= _.template(require('./html-includes/breadcrumps.html').default)() %>

  <div class="title section-title">Бальнеология</div>

  <div class="flex flex-col gap-5">
    <% for(let i = 0; i < 10; i++) { %>
    <a href="service-detail.html" class="service-item bg-l3 btn-group card-shadow">
      <div class="service-item-image ratio ratio-[360/234] rounded-base overflow-hidden">
        <img src="img/video-placeholder.gif" alt="" class="absolute-fit object-cover">
      </div>
      <div class="service-item-content">
        <div class="xs:text-xl font-semibold">Лечебная программа «Стандарт 14 дней»</div>
        <div class="mt-3 flex items-center gap-2 text-primary">
          <c-icon class="icon sm:text-xl" href="img/icons.svg#calendar"></c-icon>
          <div class="text-xs xs:text-sm">Продолжительность курса: 14 дней</div>
        </div>
        <div class="mt-3 opacity-80 leading-normal max-sm:text-sm">
          «Мацеста» — это крупнейший бальнеологический курорт России, расположившийся
          в городе-курорте Сочи. Сама природа, одарив Сочи уникальным сочетанием субтропического...
        </div>
        <button class="btn btn-theme-contur mt-5 rounded-full">Подробнее</button>
      </div>
    </a>
    <% } %>
  </div>

  <div class="mt-11 flex gap-4">
    <button class="btn btn-icon btn-sm rounded-xl btn-theme-fill">1</button>
    <button class="btn btn-icon btn-sm rounded-xl btn-theme-contur">2</button>
    <button class="btn btn-icon btn-sm rounded-xl btn-theme-contur">3</button>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)() %>