<%= _.template(require('./html-includes/header.html').default)() %>


<section class="relative max-sm:pt-4 py-14">
  <%= _.template(require('./html-includes/breadcrumps.html').default)() %>
  <div class="h-px bg-l2 mb-10 max-sm:hidden"></div>

  <div class="detail-nav mb-7 sm:mb-9">
    <button class="btn btn-icon btn-theme-contur-2 btn-sm rounded-full text-primary">
      <c-icon class="icon text-2xl" href="img/icons.svg#arrow-left"></c-icon>
    </button>
    <div>
      <div class="text-primary opacity-80">Услуги БК Мацеста</div>
    </div>
  </div>

  <div class="detail-content  mx-auto">
    <div class="flex flex-col items-start gap-7">
      <div class="title">В ритме здорового сердца</div>
      <p>
        «Мацеста» — это крупнейший бальнеологический курорт России, расположившийся в городе-курорте Сочи. Сама природа, одарив Сочи уникальным сочетанием субтропического климата, теплого моря, обилия солнца, экзотической растительности.
      </p>
      <button class="btn btn-theme-contur-2 gap-2 rounded-full  max-sm:text-sm max-sm:btn-sm">
        <c-icon class="icon text-2xl" href="img/icons.svg#cart-contur"></c-icon>
        В корзину
      </button>

      <a href="img/test0.gif" data-fancybox class="rounded-base overflow-hidden w-full my-5">
        <img src="img/test0.gif" alt="" class="w-full">
      </a>

      <p>
        Главным природным лечебным фактором курорта Сочи и нашей бальнеолечебницы является знаменитая мацеста – уникальная сероводородная вода, легенды о целебных свойствах которой слагались веками. Именно поэтому в центре герба Сочи изображена чаша, наполненная огненной водой и символизирующая Мацесту – сердце нашего курорта.
        Живая вода Мацесты возвращает людям легкость движения, чистоту кожных покровов, восстанавливает функции сердечно–сосудистой и нервной систем, дарует радость материнства, оказывает омолаживающее воздействие на весь организм.
      </p>

      <p>
        С момента открытия в 1902 году на Мацесте первой бальнеолечебницы здесь было отпущено свыше 220 миллионов процедур. Среди пациентов Мацесты было немало известных исторических личностей, в том числе И.В. Сталин – неслучайно его дача располагалась в 300 метрах от мацестинской бальнеолечебницы, и его выбор Сочи в качестве столицы советских курортов – признание роли Мацесты как определяющего фактора.
      </p>
      <p>
        Сейчас бальнеологический курорт «Мацеста» работает круглогодично, в полном объеме реализуя заказ 70 санаторно–курортных предприятий города, оказывая медицинские услуги на основе мацестинских сероводородных, природных йодобромных и радоновых процедур пациентам санаториев, курортникам без санаторных путевок и местным жителям.
      </p>

      <div class="grid sm:grid-cols-2 gap-4 sm:gap-7 w-full">
        <a href="https://youtu.be/rSDoXnslLsg" data-fancybox="gallery-id" class="rounded-base overflow-hidden ratio ratio-[39/25] btn-group">
          <img src="img/test.gif" alt="" class="absolute-fit object-cover">
          <div class="absolute flex inset-0">
            <button class="btn btn-red btn-fill m-auto rounded-xl">
              <c-icon class="icon" href="img/icons.svg#play"></c-icon>
            </button>
          </div>
        </a>
        <a href="img/test0.gif" data-fancybox="gallery-id" class="rounded-base overflow-hidden ratio ratio-[39/25]">
          <img src="img/test0.gif" alt="" class="absolute-fit object-cover">
        </a>
      </div>

      <button class="btn btn-theme-contur-1 gap-2 rounded-full  max-sm:text-sm max-sm:btn-sm">
        Показать всё
      </button>
    </div>
  </div>

</section>

<%= _.template(require('./html-includes/footer.html').default)() %>