<%= _.template(require('./html-includes/header.html').default)() %>

<!-- Категории ванн -->
<section class="section-padding relative overflow-hidden">
  <%= _.template(require('./html-includes/breadcrumps.html').default)() %>
  <div class="title section-title">Категории ванн</div>


  <div class="grid grid-cols-2 lg:grid-cols-4 gap-2 sm:gap-7">
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#user-id"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Прием врачей</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#sun-bath"></c-icon>
        </div>
        <div class="absolute left-0 top-6 md:top-12 space-y-1.5">
          <div class="rounded-r w-8 sm:w-10 flex h-5 sm:h-7 text-center bg-white/50 text-black ">
            <span class="font-alt text-xxs sm:text-xs font-semibold m-auto">H<sub>2</sub>S</span>
          </div>
          <div class="rounded-r w-8 sm:w-10 flex h-5 sm:h-7 text-center bg-white/50 text-black ">
            <span class="font-alt text-xxs sm:text-xs font-semibold m-auto">I</span>
          </div>
          <div class="rounded-r w-8 sm:w-10 flex h-5 sm:h-7 text-center bg-white/50 text-black ">
            <span class="font-alt text-xxs sm:text-xs font-semibold m-auto">Br</span>
          </div>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Бальнеология</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative ">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#sun-bath"></c-icon>
        </div>
        <div class="absolute left-0 top-6 md:top-12 space-y-1.5">
          <div class="rounded-r w-8 sm:w-10 flex h-5 sm:h-7 text-center bg-white/50 text-black ">
            <span class="font-alt text-xxs sm:text-xs font-semibold m-auto">Rn</span>
          </div>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Радонотерапия</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#hands"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Теплолечение</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#stone-massage"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">
          Аппаратная
          физиотерапия
        </div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#pulse"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">
          Функциональная
          диагностика
        </div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#massage"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Массаж</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#dancer"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Гинекология</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#cloud-sun"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Озонотерапия</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <!-- <img src="img/oxygen-mask.png" alt="" class="icon"> -->
          <c-icon class="icon" href="img/icons.svg#oxygen-mask"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Респираторная терапия</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>
    <a href="categories-detail.html" class="category-page-item btn-group">
      <div class="category-page-item-picture relative">
        <div class="category-item-image ">
          <c-icon class="icon" href="img/icons.svg#spa"></c-icon>
        </div>
      </div>
      <div class="category-page-item-content">
        <div class="text-sm sm:text-lg font-semibold  font-alt text-center my-auto">Фитотерапия</div>
        <button class="btn btn-theme-contur-2 rounded-full w-full mt-4 sm:mt-6">Подробнее</button>
      </div>
    </a>


  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)() %>