<%= _.template(require('./html-includes/header.html').default)() %>

<section class="section-padding relative">
  <%= _.template(require('./html-includes/breadcrumps.html').default)() %>
  <div class="title section-title">Наша команда</div>

  <div class="team-tabs">
    <div class="team-tabs-item">Руководство</div>
    <div class="team-tabs-item">Медицинская служба</div>
    <div class="team-tabs-item">
      Управление <br>
      Сочиминвод
    </div>
    <div class="team-tabs-item">
      Управление <br>
      эксплуатации
    </div>
    <div class="team-tabs-item">Благоустройство</div>
    <div class="team-tabs-item">Профсоюз</div>
  </div>

  <div class="flex sm:items-center gap-4 sm:gap-6">
    <div class="size-15 sm:size-19 rounded-full bg-primary/20 flex shrink-0">
      <c-icon class="icon text-4.5xl text-primary m-auto" href="img/icons.svg#user"></c-icon>
    </div>
    <div>
      <div class="sm:text-xl font-semibold">Федосов Василий Григорьевич</div>
      <div class="mt-1 max-sm:text-xs">генеральный директор Бальнеологического курорта «Мацеста»</div>
    </div>
  </div>

  <div class="flex items-center max-md:pb-8 gap-6 md:gap-11 bg-[#FFE9D2] p-2 md:rounded-2xl mt-14 max-md:flex-col max-md:-mx-[15px] max-md:px-[15px]">
    <div class="w-56 ratio ratio-[230/178] rounded-xl overflow-hidden shrink-0">
      <img src="img/test0.gif" alt="" class="absolute-fit">
      <div class="absolute-fit flex">
        <button class="btn btn-icon btn-white relative backdrop-blur-lg bg-white/40 m-auto rounded-full ring-4 ring-white/20">
          <c-icon class="icon text-white" href="img/icons.svg#play"></c-icon>
        </button>
      </div>
    </div>
    <div>
      <div class="font-alt sm:text-xl font-medium">
        Видео о сотрудниках к 118-летию Бальнеологического курорта «Мацеста».
      </div>
      <div class="text-sm opacity-80 mt-2">
        В преддверии празднования 118-летия Бальнеологического курорта «Мацеста», мы спросили у наших сотрудников,
        что для них значит это заветное слово «Мацеста».
      </div>
    </div>
  </div>

  <button class="btn btn-theme-fill mt-14 rounded-full">Хочу работать в Мацесте</button>
</section>


<%= _.template(require('./html-includes/footer.html').default)() %>