<%= _.template(require('./html-includes/header.html').default)() %>

<section class="section-padding relative">
  <%= _.template(require('./html-includes/breadcrumps.html').default)() %>
  <div class="title section-title">Территория курорта</div>

  <div class="territory ">
    <div class="relative">
      <div class="territory-image ratio">
        <img src="img/territory.png" alt="" class="absolute-fit object-scale-down">
      </div>
      <div class="territory-marker territory-marker-1" data-toggle-cover>
        <c-icon class="icon territory-marker-icon text-[#FFB363]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>

        <div class="territory-marker-content" data-toggle-content>
          <div class="flex items-center gap-2">
            <c-icon class="icon text-lg md:hidden text-[#FFB363]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>
            <div class="font-semibold">Ванное здание №4</div>
          </div>
          <div class="text-xs opacity-80 underline underline-offset-4 decoration-dashed mt-1">г. Сочи, Аллея Челтенхэма, 14</div>
          <div class="text-xs mt-4">Режим работы (Мск):</div>
          <div class="text-xs mt-3">
            Пн-Пт с 7:45 до 14:27 <br>
            Cб-Вс с 7:45 до 14:27
          </div>
          <div class="text-xs opacity-80 mt-4">без выходных</div>
        </div>
      </div>
      <div class="territory-marker territory-marker-2" data-toggle-cover>
        <c-icon class="icon territory-marker-icon text-[#01A98C]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>

        <div class="territory-marker-content" data-toggle-content>
          <div class="flex items-center gap-2">
            <c-icon class="icon text-lg md:hidden text-[#01A98C]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>
            <div class="font-semibold">Ванное здание №4</div>
          </div>
          <div class="text-xs opacity-80 underline underline-offset-4 decoration-dashed mt-1">г. Сочи, Аллея Челтенхэма, 14</div>
          <div class="text-xs mt-4">Режим работы (Мск):</div>
          <div class="text-xs mt-3">
            Пн-Пт с 7:45 до 14:27 <br>
            Cб-Вс с 7:45 до 14:27
          </div>
          <div class="text-xs opacity-80 mt-4">без выходных</div>
        </div>
      </div>
      <div class="territory-marker territory-marker-3" data-toggle-cover>
        <c-icon class="icon territory-marker-icon text-[#EEB8AC]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>

        <div class="territory-marker-content" data-toggle-content>
          <div class="flex items-center gap-2">
            <c-icon class="icon text-lg md:hidden text-[#EEB8AC]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>
            <div class="font-semibold">Ванное здание №4</div>
          </div>
          <div class="text-xs opacity-80 underline underline-offset-4 decoration-dashed mt-1">г. Сочи, Аллея Челтенхэма, 14</div>
          <div class="text-xs mt-4">Режим работы (Мск):</div>
          <div class="text-xs mt-3">
            Пн-Пт с 7:45 до 14:27 <br>
            Cб-Вс с 7:45 до 14:27
          </div>
          <div class="text-xs opacity-80 mt-4">без выходных</div>
        </div>
      </div>
      <div class="territory-marker territory-marker-4" data-toggle-cover>
        <c-icon class="icon territory-marker-icon text-[#9AC4EE]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>

        <div class="territory-marker-content" data-toggle-content>
          <div class="flex items-center gap-2">
            <c-icon class="icon text-lg md:hidden text-[#9AC4EE]" data-toggle-link href="img/icons.svg#territory-marker"></c-icon>
            <div class="font-semibold">Ванное здание №4</div>
          </div>
          <div class="text-xs opacity-80 underline underline-offset-4 decoration-dashed mt-1">г. Сочи, Аллея Челтенхэма, 14</div>
          <div class="text-xs mt-4">Режим работы (Мск):</div>
          <div class="text-xs mt-3">
            Пн-Пт с 7:45 до 14:27 <br>
            Cб-Вс с 7:45 до 14:27
          </div>
          <div class="text-xs opacity-80 mt-4">без выходных</div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)() %>