@mixin dark() {
  // temp

  &:is([data-theme="dark"]),
  &:is([data-theme="dark"] &) {
    @content;
  }
}

body {
  --bg1      : #E7E7E7;
  --bg2      : #F4F4F4;
  --bg3      : #fff;
  --text     : theme('colors.black');
  --font-base: 'Inter', arial, helvetica, sans-serif;
  --font-alt : 'Montserrat', arial, helvetica, sans-serif;
  --elastic  : cubic-bezier(0.34, 2, 0.64, 1);


  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : var(--bg3);
  color         : var(--text);
  font-family   : var(--font-base);

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &.menu-opened {
    overflow: hidden;
  }

  @include dark() {
    --bg1 : #181818;
    --bg2 : #282828;
    --bg3 : #323232;
    --text: #fff;

  }
}

svg {
  display: block !important;
}

/* stylelint-disable-next-line selector-no-vendor-prefix */
a:-webkit-any-link:focus-visible {
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display   : none;
  appearance: none;
}

label {
  display: block;
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .tab-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .tab-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .link-hover {
    text-underline-offset: 4px;

    @media(hover) {
      &:hover {
        text-decoration: underline;
        opacity        : 1;
      }
    }
  }

  .rounded-youtube {
    border-radius: 50% 50% 50% 50% / 20% 20% 20% 20%;
  }

  .btn-theme-contur-1 {
    @apply btn-contur btn-black;

    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background-color: theme('colors.sec') !important;
        border          : 1px solid theme('colors.sec') !important;

        @apply btn-fill btn-sec;
      }
    }

    &:is([data-theme="dark"] .btn-theme-contur) {
      @apply btn-white;
    }

    @include dark() {
      @apply btn-white;
    }
  }

  .btn-theme-contur-2 {
    border: 1px solid theme('colors.black / 40%') !important;

    @apply btn-contur btn-black;

    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background-color: theme('colors.sec') !important;
        border          : 1px solid theme('colors.sec') !important;

        @apply btn-fill btn-sec;
      }
    }

    &:is([data-theme="dark"] .btn-theme-contur-2) {
      @apply btn-white;
    }


    @include dark() {
      border: 1px solid theme('colors.white / 40%') !important;

      @apply btn-black;
    }
  }

  .btn-theme-fill {
    @apply btn-fill btn-primary;

    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background-color: theme('colors.sec') !important;

        @apply btn-sec;
      }
    }
  }

  .btn-text {
    justify-content: start;
    text-align     : left;
  }

  .slider-pagination {
    --swiper-pagination-color                : theme('colors.sec');
    --swiper-pagination-bullet-horizontal-gap: 14px;

    @media(max-width:theme('screens.lg')) {
      --swiper-pagination-bullet-horizontal-gap: 8px;

    }
  }

  .section-padding {
    padding-top   : 72px;
    padding-bottom: 72px;

    @media(max-width:theme('screens.sm')) {
      padding-top   : 40px;
      padding-bottom: 40px;
    }
  }

  .title {
    font-family: var(--font-alt);
    font-size  : 36px;
    font-weight: 500;
    line-height: 1.25;

    @media(max-width:theme('screens.lg')) {
      font-size: 30px;
    }

    @media(max-width:theme('screens.sm')) {
      font-size: 24px;
    }
  }

  .section-title {
    margin-bottom: 52px;

    @media(max-width:theme('screens.sm')) {
      margin-bottom: 32px;
    }

  }

  .slider-arrow {
    position: absolute;
    top     : calc(50% - var(--tw-btn-size) / 2);
    opacity : 0.4;

    @media(hover) {
      &:hover {
        color  : theme('colors.sec');
        opacity: 1;
      }
    }

    @media(max-width:1520px) {
      display: none;
    }

    &-prev {
      right: calc(100% + 20px);
    }

    &-next {
      left: calc(100% + 20px);
    }
  }

  .section-green {
    background: url("../img/locations-bg.png") no-repeat center / cover, theme('colors.primary');

  }

  .card-shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
    transition: .2s ease;

    @media(hover) {
      &:hover {
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .rating-field {
    &-item {
      color     : theme('colors.black / 20%');
      cursor    : pointer;
      transition: .2s ease;

      @media(hover) {
        &:hover {
          transform: scale(1.1);
        }
      }

      &:has(:checked) {
        transform : scale(1.2);
        transition: transform .35s var(--elastic), color .2s ease;

      }
    }

    @media(hover) {
      &:hover &-item {
        color: theme('colors.yellow');
      }

      &-item:hover~&-item {
        color: theme('colors.black / 20%');
      }
    }

    &:has(:checked) &-item {
      color: theme('colors.yellow');
    }

    &-item:has(:checked)~&-item {
      color: theme('colors.black / 20%');
    }
  }

  .checkbox,
  .input {
    background: var(--bg3);
    border    : 1px solid theme('colors.black / 30%');

    @include dark() {
      border-color: theme('colors.white / 30%');
    }
  }


  .product-item {
    display       : flex;
    flex-direction: column;
    overflow      : hidden;
    background    : var(--bg3);
    border-radius : 32px;
    cursor        : pointer;

    @media(max-width:theme('screens.sm')) {
      border-radius: theme('borderRadius.xl');
    }
  }
}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

.tab-btn {
  &.tab-active {
    @apply btn-theme-fill;
  }
}

.btn-light {
  &:is([data-theme="dark"] &) {
    color: #fff
  }
}

.tippy-box[data-theme~="custom"] {
  background-color: theme("colors.primary");
  color           : #fff;
  padding         : 16px;
  border-radius   : 16px;
}

.tippy-box[data-theme~='custom'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: theme("colors.primary");
}

.tippy-box[data-theme~='custom'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: theme("colors.primary");
}

.tippy-box[data-theme~='custom'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: theme("colors.primary");
}

.tippy-box[data-theme~='custom'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: theme("colors.primary");
}

@import './header';

.footer {
  display       : flex;
  padding-top   : 52px;
  padding-bottom: 72px;
  background    : var(--bg2);
}

.started {
  &-slide {
    display       : flex;
    flex-direction: column;
    position      : relative;
    height        : 492px;
    overflow      : hidden;
    padding       : 24px;
    border-radius : 32px;

    @media(max-width:theme('screens.lg')) {
      height       : auto;
      height       : 100%;
      padding      : 0;
      border-radius: 0;

    }

    &-image {
      position: absolute;
      top     : 0;
      left    : 0;
      width   : 100%;
      height  : 100%;

      @media(max-width:theme('screens.lg')) {
        position     : relative;
        overflow     : hidden;
        margin-bottom: 40px;
        border-radius: 16px;
      }
    }

    &-content {
      display        : flex;
      justify-content: center;
      flex-direction : column;
      flex-grow      : 1;
      position       : relative;


      @media(min-width:theme('screens.lg')) {
        width  : 470px;
        height : 100%;
        padding: 36px;
        background:
          radial-gradient(353% 142% at 0% 100%,
            rgba(255, 255, 255, 0.90) 29.4%,
            rgba(255, 255, 255, 0.30) 100%,
            rgba(255, 255, 255, 0.30) 100%);
        backdrop-filter: blur(20px);
        border-radius  : 32px;
        color          : theme('colors.black');
      }
    }

  }

  &-pagination-wrapper {
    @media(max-width:theme('screens.lg')) {
      position: absolute !important;
      top     : 8px;
      left    : 0;
      width   : 100%;

      @apply ratio ratio-[36/20];

    }

  }

}

.locations {
  overflow      : hidden;
  padding-top   : 40px;
  padding-bottom: 72px;
  color         : #fff;

  &-slider {
    @media(max-width:theme('screens.lg')) {
      overflow: visible;
    }
  }

  &-item {
    @media(max-width:theme('screens.lg')) {
      padding      : 32px;
      background   : theme('colors.sec / 20%');
      border-radius: 32px;
    }
  }
}

.index-about {
  display        : flex;
  align-items    : center;
  justify-content: space-between;

  @media(max-width:theme('screens.xl')) {
    flex-direction: column;
    gap           : 52px;
  }

  &-image {
    position    : relative;
    width       : 462px;
    max-width   : 100%;
    margin-right: 90px;

    @media(max-width:theme('screens.xl')) {
      order       : -1;
      margin-right: auto;
      margin-left : auto;
    }
  }

  &-card {
    display        : flex;
    align-items    : center;
    flex-direction : column;
    position       : absolute;
    width          : 212px;
    padding        : 40px;
    background     : radial-gradient(352.91% 141.42% at 0% 100%, #8A8A8A 0%, rgba(255, 255, 255, 0.29) 100%);
    backdrop-filter: blur(20px);
    border-radius  : 32px;
    box-shadow     : 0 20px 40px 0 rgba(0, 0, 0, 0.05);
    will-change    : transform;
    gap            : 16px;

    @media(max-width:theme('screens.md')) {
      width  : 150px;
      padding: 24px 12px;
    }

    &-1 {
      top : 0;
      left: -90px;

      @media(max-width:theme('screens.md')) {
        top : -60px;
        left: -8px;
      }
    }

    &-2 {
      right : -90px;
      bottom: 0;

      @media(max-width:theme('screens.md')) {
        right : -8px;
        bottom: -60px;
      }
    }
  }

  &-content {
    @media(max-width:theme('screens.xl')) {
      width     : 100%;
      text-align: center;
    }

    @media(max-width:theme('screens.sm')) {
      text-align: left;
    }

  }
}


.tabs {
  display      : flex;
  padding      : 8px;
  background   : var(--bg1);
  border-radius: 8px;

  &-item {
    .ripple {
      display: none;
    }

    &.tab-active {
      box-shadow: 0 8px 20px 0 rgba(32, 41, 76, 0.06), 0 1px 3px 0 rgba(32, 41, 76, 0.10);

      @apply btn-whitebg;
    }
  }
}

.category-item {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  padding       : 48px 10px;
  background    :
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 60.6%),
    theme('colors.primary');
  border-radius: 32px;
  color        : #fff;
  cursor       : pointer;
  transition   : .1s ease;

  @media(max-width:theme('screens.xl')) {
    padding: 32px 10px;
  }

  @media(max-width:theme('screens.sm')) {
    padding: 27px 10px;
  }

  @media(hover) {
    &:hover {
      background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 60.6%), theme('colors.sec');
    }

    &:hover &-image {
      transform : scale(1.1);
      transition: .4s var(--elastic);
    }
  }

  &-content {
    padding   : 24px 16px;
    background: var(--bg3);
  }

  &-image {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 96px;
    height         : 96px;
    background     : radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.12) 100%);
    border         : 1px solid rgba(255, 255, 255, 0.20);
    border-radius  : 32px;

    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
    font-size : 48px;
    transition: .15s ease;



  }
}

.category-page-item {
  box-shadow    : 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius : theme('borderRadius.base');
  overflow      : hidden;
  display       : flex;
  flex-direction: column;

  @media(max-width:theme('screens.sm')) {
    border-radius: 16px;
  }

  &-picture {
    background:
      radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 60.6%),
      theme('colors.primary');
    color         : #fff;
    padding       : 48px 12px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    transition    : .1s ease;

    @media(max-width:theme('screens.sm')) {
      padding: 24px 12px;
    }

  }


  @media(hover) {
    &:hover &-picture {
      background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 60.6%), theme('colors.sec');
    }

    &:hover .category-item-image {
      transform : scale(1.1);
      transition: .4s var(--elastic);
    }
  }

  &-content {
    padding       : 24px 16px;
    text-align    : center;
    flex-grow     : 1;
    display       : flex;
    flex-direction: column;

    @media(max-width:theme('screens.sm')) {
      padding: 16px 8px;
    }
  }
}

.interesting-item {
  overflow     : hidden;
  border-radius: 32px;
  transition   : .2s;

  @media(hover) {
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
  }

  &-content {
    display        : flex;
    align-items    : flex-start;
    justify-content: center;
    flex-direction : column;
    flex-grow      : 1;
    padding        : 32px 52px 20px 80px;

    @media(max-width:theme('screens.sm')) {
      padding: 20px 16px;
    }
  }
}

.special-item {
  overflow     : hidden;
  border-radius: 32px;

  &-content {
    display        : flex;
    align-items    : flex-start;
    justify-content: center;
    flex-direction : column;
    flex-grow      : 1;
    padding        : 32px 28px;
  }
}

.map {
  height: 580px;

  @media(max-width:theme('screens.xl')) {
    height: 410px;
  }

}

.reviews-item {
  position     : relative;
  overflow     : hidden;
  padding      : 70px 24px 0;
  background   : radial-gradient(352.91% 141.42% at 0% 100%, var(--bg3) 0%, var(--bg3) 0.01%, rgba(255, 255, 255, 0.29) 100%);
  border       : 1px solid var(--bg3);
  border-radius: theme('borderRadius.base');
  box-shadow   : 0 10px 20px rgba(0, 0, 0, 0.06);

  @media(max-width:theme('screens.sm')) {
    padding-top: 46px;
  }

  &-score {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    width          : 110px;
    height         : 110px;
    margin-right   : auto;
    margin-left    : auto;
    background     : radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.12) 100%);
    border-radius  : 50%;
    box-shadow     : 0 10px 20px rgba(0, 0, 0, 0.06);
    font-family    : var(--font-alt);
    font-size      : 36px;
    font-weight    : 500;


    &::before {
      content      : '';
      position     : absolute;
      inset        : -8px;
      border       : 1px solid theme('colors.primary');
      border-radius: inherit;
    }
  }

  &-logo {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 45px;
    margin-top     : 56px;

    @media(max-width:theme('screens.sm')) {
      margin-top: 32px;
    }
  }

  &-list {
    height    : 374px;
    overflow  : hidden;
    margin-top: 48px;

    &::before {
      content   : '';
      position  : absolute;
      bottom    : 0;
      left      : 0;
      width     : 100%;
      height    : 250px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--bg3) 100%);
      z-index   : 2;
    }

    @media(max-width:theme('screens.sm')) {
      margin-top: 24px;
    }
  }
}

.partners-item {
  padding-top   : 40px;
  padding-bottom: 40px;
  background    : var(--bg3);
  border-radius : theme('borderRadius.base');
  box-shadow    : 0 10px 20px 0 rgba(0, 0, 0, 0.06);

  &-image {
    height: 124px;

    img {
      width     : 100%;
      height    : 100%;
      object-fit: scale-down;
    }
  }
}

.video {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  height         : 520px;
  background     : #000;
  color          : #fff;

  @media(max-width:theme('screens.xl')) {
    height        : auto;
    padding-top   : 96px;
    padding-bottom: 96px;
  }

  &-button {
    --tw-btn-size: 112px;

    margin-bottom: 50px;
    background   : radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0.14) 100%);
    border-radius: 50%;
    box-shadow   : 0 20px 40px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(255, 255, 255, 0.1);
    font-size    : 32px;

    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background: radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0.24) 100%);
      }
    }
  }
}

.service-item {
  display      : flex;
  align-items  : center;
  padding      : 8px;
  border-radius: theme('borderRadius.base');
  gap          : 40px;

  @media(max-width:theme('screens.lg')) {
    align-items   : flex-start;
    flex-direction: column;
    padding       : 16px;
    gap           : 24px;
  }

  &-image {
    flex-shrink: 0;
    width      : 360px;
    max-width  : 100%;

    @media(max-width:theme('screens.sm')) {
      width: 100%;
    }
  }
}

.address-slider {
  overflow: visible;

  @media(min-width:theme('screens.sm')) {
    user-select: all;

  }

  .swiper-wrapper {
    @media(min-width:theme('screens.sm')) {
      display              : grid;
      grid-template-columns: 1fr 1fr;
      width                : 100% !important;
      transform            : none !important;
      gap                  : 30px;
      user-select          : all;

    }
  }
}

.address-item {
  display      : flex;
  align-items  : center;
  padding      : 8px;
  border-radius: theme('borderRadius.base');
  gap          : 40px;

  @media(max-width:theme('screens.lg')) {
    align-items   : flex-start;
    flex-direction: column;
    padding       : 16px;
    gap           : 24px;
  }

  &-image {
    flex-shrink: 0;
    width      : 238px;
    max-width  : 100%;

    @media(max-width:theme('screens.sm')) {
      width: 100%;
    }
  }
}

.doctor-item {
  display      : flex;
  align-items  : center;
  padding      : 8px;
  border-radius: theme('borderRadius.base');
  gap          : 40px;

  @media(max-width:theme('screens.sm')) {
    gap: 16px;
  }


  &-image {
    flex-shrink: 0;
    width      : 238px;
    max-width  : 100%;

    @media(max-width:theme('screens.sm')) {
      width        : 116px;
      border-radius: 24px;
    }
  }
}

.detail-nav {
  display              : grid;
  align-items          : center;
  grid-template-columns: 1fr minmax(auto, 810px) 1fr;
  gap                  : 24px;
}

.detail-content {
  width    : 810px;
  max-width: 100%;
  overflow : auto;

  p {
    line-height: 1.5;
    opacity    : 0.8;

    @media(max-width:theme('screens.sm')) {
      font-size: 14px;
    }
  }

  table {
    overflow: auto;
    width   : 100%;

    td {
      font-size  : 13px;
      line-height: 1.2;
      border     : 1px solid theme('colors.black / 30%');
      padding    : 6px;
    }
  }

  ul {
    padding-left: 24px;
    list-style  : disc;

  }
}

.doctor-detail {
  display: flex;
  gap    : 75px;

  @media(max-width:theme('screens.lg')) {
    flex-direction: column;
    gap           : 32px;
  }

  &-info {
    flex-shrink: 0;
    width      : 322px;

    @media(max-width:theme('screens.xs')) {
      width: 100%;
    }
  }
}

.dialog {
  background   : var(--bg3);
  max-width    : 100%;
  border-radius: theme('borderRadius.base');

  @media(max-width:theme('screens.sm')) {
    border-radius: 12px;
  }
}

.dialog-water,
.dialog-review {
  width        : 466px;
  max-width    : 100%;
  overflow     : hidden;
  padding      : 0;
  background   : var(--bg3);
  border-radius: theme('borderRadius.base');
  box-shadow   : 0 20px 40px 0 rgba(0, 0, 0, 0.10);

  @media(max-width:theme('screens.sm')) {
    border-radius: 12px;
  }
}

.dialog-review {
  width: 932px;
}

.contacts {
  display: flex;
  gap    : 48px;

  @media(max-width:theme('screens.lg')) {
    flex-direction: column;
    gap           : 32px;
  }

  &-info {
    flex-shrink  : 0;
    width        : 374px;
    max-width    : 100%;
    padding      : 40px 28px;
    background   : var(--bg3);
    border-radius: theme('borderRadius.base');
    box-shadow   : 0 10px 20px 0 rgba(0, 0, 0, 0.06);

    @media(max-width:theme('screens.sm')) {
      padding: 24px 16px;
    }
  }
}

.ymaps-2-1-79-balloon {
  border-radius: 16px;
  box-shadow   : 0 20px 40px 0 rgba(0, 0, 0, 0.10) !important;
}

.ymaps-2-1-79-balloon__content,
.ymaps-2-1-79-balloon__layout {
  border-radius: 16px;
}

.auth {
  @media(min-width:theme('screens.sm')) {
    padding-top: 24px;
  }

  &-background {
    @media(min-width:theme('screens.sm')) {
      padding      : 32px;
      background   : linear-gradient(180deg, var(--bg2) 0%, rgba(244, 244, 244, 0.00) 100%);
      border-radius: theme('borderRadius.base');
    }
  }

  &-form {
    @media(min-width:theme('screens.sm')) {
      width        : 478px;
      max-width    : 100%;
      margin-right : auto;
      margin-left  : auto;
      padding      : 56px 48px;
      background   : var(--bg3);
      border-radius: theme('borderRadius.base');
    }
  }
}

.auth-message {
  padding-top   : 64px;
  padding-bottom: 64px;

  &-image {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 98px;
    height         : 98px;
    background     : var(--bg3);
    border-radius  : theme('borderRadius.base');
    box-shadow     :
      0 8px 20px 0 rgba(32, 41, 76, 0.06),
      0 1px 3px 0 rgba(32, 41, 76, 0.10);
    font-size: 50px;
  }
}

.not-found {
  &-title {
    font-family: var(--font-alt);
    font-size  : 228px;
    font-weight: 500;
    line-height: 1;
    color      : theme('colors.primary');
    text-align : center;

    @media(max-width:theme('screens.sm')) {
      font-size: 128px;
    }
  }
}

.cart {
  display    : flex;
  align-items: flex-start;
  gap        : 32px;

  @media(max-width:theme('screens.xl')) {
    flex-direction: column;
  }

  &-content {
    flex-grow: 1;

    @media(max-width:theme('screens.xl')) {
      width: 100%;
    }
  }

  &-aside {
    flex-shrink: 0;
    position   : sticky;
    top        : 60px;
    width      : 316px;

    @media(max-width:theme('screens.xl')) {
      position: relative;
      top     : 0;
      width   : 100%;
    }
  }

  &-result {
    padding      : 40px 24px;
    background   : var(--bg3);
    border-radius: theme('borderRadius.base');
    box-shadow   : 0 8px 20px 0 rgba(32, 41, 76, 0.06), 0 1px 3px 0 rgba(32, 41, 76, 0.10);
  }

  &-promo {
    padding      : 32px;
    background   : #FFE9D2;
    border-radius: 16px;

    @media(max-width:theme('screens.sm')) {
      padding-right: 15px;
      padding-left : 15px;
    }
  }

  &-header {
    display              : grid;
    grid-template-columns: 430px 124px 152px 124px auto;


  }
}

.cart-item {
  position     : relative;
  padding      : 16px;
  border-radius: 16px;
  box-shadow   : 0 10px 20px 0 rgba(0, 0, 0, 0.06);

  &-content {
    display    : flex;
    align-items: center;
    gap        : 24px;

    @media(max-width:theme('screens.lg')) {
      align-items   : stretch;
      flex-direction: column;
      gap           : 16px;
    }
  }

  &-image {
    flex-shrink: 0;
    width      : 142px;

    @media(max-width:theme('screens.xs')) {
      width: 100px;
    }
  }

  &-info {
    flex-shrink: 0;
    width      : 224px;

    @media(max-width:theme('screens.lg')) {
      width      : auto;
      flex-grow  : 1;
      max-width  : 500px;
      flex-shrink: 1;
    }
  }

  &-cost {
    flex-shrink: 0;
    width      : 82px;

    @media(max-width:theme('screens.lg')) {
      width: auto;
    }
  }

  &-bonus {
    display    : flex;
    align-items: center;
    padding    : 12px;

    border-radius: 12px;
    gap          : 16px;

    @media(max-width:theme('screens.xs')) {
      align-items   : stretch;
      flex-direction: column;
    }
  }

  &-close {
    @media(max-width:theme('screens.lg')) {
      position: absolute;
      top     : 10px;
      right   : 10px;
    }
  }
}

.documents-item {
  padding      : 18px 32px;
  background   : var(--bg2);
  border-radius: theme('borderRadius.base');

  @media(max-width:theme('screens.sm')) {
    padding: 18px 16px;
  }
}

.vacancy-item {
  display      : flex;
  align-items  : center;
  padding      : 16px;
  border-radius: theme('borderRadius.base');
  gap          : 32px;


  @media(max-width:theme('screens.sm')) {
    padding-right: 8px;
    gap          : 16px;
  }

  &-image {
    flex-shrink: 0;
    width      : 200px;
    max-width  : 100%;

    @media(max-width:theme('screens.sm')) {
      width: 116px;
    }
  }
}

.awards-item {
  // temp

  &-content {
    transition: .25s ease;

    @media (hover: none) {
      display: none;
    }

    &>* {
      transition: .25s ease;
    }
  }

  &-content,
  &-image {
    position: absolute;
    inset   : 0;
  }

  &:not(:hover) &-content {
    opacity: 0;

    &>* {
      transform: translateY(10px);
    }
  }

}

.lk {
  display    : flex;
  align-items: flex-start;
  gap        : 100px;

  @media(max-width:theme('screens.xl')) {
    align-items   : stretch;
    flex-direction: column;
    gap           : 32px;
  }

  &-aside {
    flex-shrink: 0;
    width      : 284px;

    @media(max-width:theme('screens.xl')) {
      width: 100%;
    }
  }

  &-menu {
    @media(max-width:theme('screens.xl')) {
      display       : flex;
      flex-direction: column;
      position      : fixed;
      top           : 0;
      left          : 0;
      width         : 300px;
      height        : 100%;
      padding       : 16px;
      background    : var(--bg3);
      transition    : .25s ease;
      z-index       : theme('zIndex[6]');


      &:not(.toggle-active) {
        transform: translateX(-100%);
      }
    }

    &-shadow {
      @media(max-width:theme('screens.xl')) {
        position  : fixed;
        inset     : 0;
        background: rgba(0, 0, 0, 0.5);
        transition: .25s ease;
        z-index   : calc(theme('zIndex[6]') - 1);


      }
    }

    &:not(.toggle-active)~&-shadow {
      opacity       : 0;
      pointer-events: none;
    }
  }

  &-content {
    flex-grow: 1;
  }
}

.lk-personal {
  &-form {
    width    : 382px;
    max-width: 100%;

    @media(max-width:theme('screens.xl')) {
      width: 100%;
    }
  }
}


.filepond--item-panel,
.filepond--file,
.filepond--image-preview-wrapper {
  overflow     : hidden;
  border-radius: 24px;
}

.filepond--drop-label label {
  cursor: pointer;
}

.bonuses {
  padding      : 32px;
  background   : theme('colors.primary / 10%');
  border-radius: theme('borderRadius.base');

  @media(max-width:theme('screens.sm')) {
    padding-left : 10px;
    padding-right: 10px;
  }

  &-grid {
    display              : grid;
    grid-template-columns: 1fr 3fr;
    grid-gap             : 26px;

    @media(max-width:theme('screens.xl')) {
      grid-template-columns: 1fr 1fr;
    }

    @media(max-width:theme('screens.sm')) {
      grid-gap: 26px 10px;
    }
  }

  &-user {
    grid-row       : span 2;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    justify-content: center;

    @media(max-width:theme('screens.xl')) {
      grid-row   : auto;
      grid-column: span 2;
    }

    @media(max-width:theme('screens.sm')) {
      margin-bottom: 32px;
    }
  }

  &-steps {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap             : inherit;

    @media(max-width:theme('screens.xl')) {
      grid-template-columns: 1fr;
    }
  }

  &-step {
    background     : var(--bg3);
    border-radius  : theme('borderRadius.base');
    border         : 1px dashed theme('colors.black / 30%');
    height         : 240px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    justify-content: center;
    line-height    : 1.3;
    position       : relative;

    @media(max-width:theme('screens.sm')) {
      font-size: 14px;
      height   : auto;
      padding  : 32px 4px;
    }

    @media(max-width:theme('screens.xs')) {
      font-size: 12px;
    }
  }

  &-arrow {
    position  : absolute;
    object-fit: scale-down;


    @media(min-width:theme('screens.xl')) {
      top: 50%;

      @apply -translate-y-1/2;

    }

    @media(max-width:theme('screens.xl')) {
      left: 50%;

      @apply -translate-x-1/2 rotate-90;
    }
  }
}

.dialog-form {
  width                : 940px;
  max-width            : 100%;
  padding              : 26px;
  padding-left         : 48px;
  background           : var(--bg3);
  border-radius        : theme('borderRadius.base');
  display              : grid;
  grid-template-columns: 1fr 1fr;
  gap                  : 32px;

  @media(max-width:theme('screens.lg')) {
    width                : 500px;
    grid-template-columns: 1fr;
    padding              : 32px 15px;
    border-radius        : 12px;
  }
}

.dialog-form-2 {
  width  : 482px;
  display: block;
  padding: 48px;

  @media(max-width:theme('screens.lg')) {
    padding: 32px 15px;
  }
}

.dialog-info {
  background     : var(--bg3);
  border-radius  : theme('borderRadius.base');
  padding        : 56px 20px;
  max-width      : 100%;
  width          : 296px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  text-align     : center;
  gap            : 24px;


  @media(max-width:theme('screens.lg')) {
    border-radius: 12px;
  }
}

.dialog-bonuses {
  background    : var(--bg3);
  border-radius : theme('borderRadius.base');
  max-width     : 100%;
  width         : 540px;
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  padding       : 42px 24px;

  @media(max-width:theme('screens.lg')) {
    border-radius: 12px;
  }
}

.dialog-costs {
  padding      : 0;
  background   : var(--bg3);
  border-radius: theme('borderRadius.base');
  overflow     : hidden;
  width        : 664px;
  max-width    : 100%;

  @media(max-width:theme('screens.lg')) {
    border-radius: 12px;
  }
}

.territory {
  border-radius: theme('borderRadius.base');
  background   : radial-gradient(107.66% 86.66% at 28.13% 16.14%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), rgba(101, 138, 136, 0.30);
  padding      : 65px;
  padding-top  : 1px;
  margin-top   : 100px;

  @media(max-width:theme('screens.lg')) {
    padding: 1px 15px 20px;
  }

  &-image {
    --tw-ratio-padding: calc(100% * 820 / 1100);

    width     : 100%;
    margin-top: -56px;
  }

  &-marker {
    --size: 84px;

    position: absolute;

    @media(max-width:theme('screens.lg')) {
      --size: 64px;
    }


    @media(max-width:theme('screens.md')) {
      position  : static;
      margin-top: 24px;
    }

    &.toggle-active {
      z-index: 2;
    }

    &-icon {
      font-size: var(--size);
      cursor   : pointer;

      @media(max-width:theme('screens.md')) {
        display: none;

      }
    }

    &-1 {
      left: calc(100% * 232 / 1100 - var(--size) / 2);
      top : calc(100% * 139 / 820 - var(--size));
    }

    &-2 {
      left: calc(100% * 704 / 1100 - var(--size) / 2);
      top : calc(100% * 159 / 820 - var(--size));
    }

    &-3 {
      left: calc(100% * 757 / 1100 - var(--size) / 2);
      top : calc(100% * 355 / 820 - var(--size));
    }

    &-4 {
      left: calc(100% * 852 / 1100 - var(--size) / 2);
      top : calc(100% * 442 / 820 - var(--size));
    }

    &-content {
      @media(min-width:theme('screens.md')) {
        position     : absolute;
        width        : 210px;
        padding      : 16px;
        border-radius: 16px;
        background   : var(--bg3);
        box-shadow   : 0 20px 40px 0 rgba(0, 0, 0, 0.05);
        left         : calc(100% + 28px);
        top          : 50%;
        transform    : translateY(-50%);
        transition   : .3s var(--elastic);

        &:not(.toggle-active) {
          opacity       : 0;
          pointer-events: none;
          transform     : translateY(-50%) translateX(15px);
        }
      }


      @media(max-width:theme('screens.md')) {
        position : static;
        transform: none;
      }
    }


    &:is(&-3, &-4) &-content {
      @media(min-width:theme('screens.md')) {
        left : auto;
        right: calc(100% + 28px);

        &:not(.toggle-active) {
          transform: translateY(-50%) translateX(-15px);

        }
      }
    }
  }
}

.service-line {
  display              : grid;
  grid-template-columns: 96px 1fr 180px 172px 160px 120px;
  gap                  : 36px;
  align-items          : start;
  width                : 100%;

  &-analiz {
    grid-template-columns: 120px 120px 1fr 120px 120px;

  }

  @media (max-width:theme('screens.xl')) {
    grid-template-columns: 96px 1fr 172px 160px 120px;

    &-analiz {
      grid-template-columns: 96px 96px 1fr 120px 120px;

    }
  }

  @media (max-width:theme('screens.lg')) {
    display       : flex;
    flex-direction: column;
    align-items   : stretch;
    gap           : 32px;

  }

  @media (max-width:theme('screens.sm')) {
    gap: 20px;
  }

  &-wrapper {
    background   : var(--bg3);
    border-radius: theme('borderRadius.base');
    box-shadow   : 0 10px 20px 0 rgba(0, 0, 0, 0.06);
    padding      : 24px;

    @media (max-width:theme('screens.sm')) {
      padding: 40px 16px;
    }
  }

  &-header {
    border-radius: theme('borderRadius.base');
    padding      : 24px;
  }

  &-content {
    @media (max-width:theme('screens.lg')) {
      display: contents;
    }
  }

  &-cat {
    @media (max-width:theme('screens.lg')) {
      width: 100%;
    }
  }

  &-btn {
    @media (max-width:theme('screens.lg')) {
      order: 10
    }
  }
}

.age-checkbox {
  border-radius: 12px;
  background   : var(--bg2);
  cursor       : pointer;

  @media(hover) {
    &:hover {
      background: var(--bg2);
    }
  }

  &:has(:checked) {
    background: theme('colors.sec');
    color     : #fff;
  }
}

.cat-slider {
  border-radius: 8px;
  background   : var(--bg2);
  width        : 100%;

  &-item {
    height         : 44px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-align     : center;
    font-size      : 14px;
  }

}

.cookie-notification {
  position     : fixed;
  bottom       : 15px;
  background   : theme('colors.sec');
  color        : #fff;
  display      : flex;
  align-items  : center;
  z-index      : theme('zIndex.2');
  padding      : 16px;
  border-radius: 16px;
  gap          : 12px;
  width        : calc(var(--section-width));
  left         : calc(50% - var(--section-width) / 2);


  @media(max-width:theme('screens.sm')) {
    flex-direction: column;
    align-items   : stretch;
  }
}

.geo-suggest {
  position: relative;

  &-items {
    position     : absolute;
    left         : 0;
    top          : calc(100% + 2px);
    width        : 100%;
    z-index      : 2;
    background   : theme('colors.l3');
    box-shadow   : theme('boxShadow.xl');
    padding      : 16px 8px;
    border-radius: 8px;
  }

  &-item {
    cursor: pointer;

    @media(hover) {
      &:hover {
        color: theme('colors.primary');
      }
    }
  }
}

.team-tabs {
  display      : flex;
  background   : theme('colors.l2');
  padding      : 8px;
  border-radius: 16px;
  margin-bottom: 56px;
  gap          : 4px;

  @media(max-width:theme('screens.lg')) and (min-width:theme('screens.md')) {
    display              : grid;
    grid-template-columns: 1fr 1fr;
  }

  @media(max-width:theme('screens.md')) {
    flex-direction: column;
    margin-bottom : 32px;
  }

  &-item {
    padding        : 10px 32px;
    transition     : .2s ease;
    text-align     : center;
    display        : flex;
    align-items    : center;
    justify-content: center;
    line-height    : 1.1;
    height         : 52px;
    border-radius  : 12px;

    @media(hover) {
      &:hover {
        background: rgba(255, 255, 255, 0.5);

      }
    }

    &.active {
      background: #fff;
      box-shadow: 0 8px 20px 0 #20294C0F, 0 1px 3px 0 #20294C1A;

    }

    @media(max-width:theme('screens.lg')) {
      text-align     : left;
      justify-content: start;
      padding        : 10px 20px;
    }
  }
}

.social {
  position: fixed;
  z-index : 325;
  right   : 80px;
  bottom  : 80px;

  @media(max-width:theme('screens.lg')) {
    right : 40px;
    bottom: 40px;
  }

  @media(max-width:theme('screens.sm')) {
    right: 20px;
  }

  &-items {
    position      : absolute;
    right         : 0;
    bottom        : calc(100% + 12px);
    display       : flex;
    flex-direction: column-reverse;
    gap           : 12px;
    transition    : .25s ease;
  }

  &:not(.toggle-active) &-items {
    opacity       : 0;
    pointer-events: none;
    transform     : translateY(50px);
  }

  &-shadow {
    position  : fixed;
    inset     : 0;
    background: rgba(0, 0, 0, 0.5);
    z-index   : 324;
  }

  &:not(.toggle-active)~&-shadow {
    opacity       : 0;
    pointer-events: none;
  }
}

.dialog-search {
  width  : var(--section-width);
  padding: 48px 24px;

}