body {
  --bg1      : #E7E7E7;
  --bg2      : #F4F4F4;
  --bg3      : #fff;
  --text     : theme('colors.black');
  --font-base: 'Inter', arial, helvetica, sans-serif;
  --font-alt : 'Montserrat', arial, helvetica, sans-serif;
  --elastic  : cubic-bezier(0.34, 2, 0.64, 1);


  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : var(--bg3);
  color         : var(--text);

  * {
    font-family                : var(--font-base);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1 : #181818;
  --bg2 : #282828;
  --bg3 : #323232;
  --text: #fff;

}

/* stylelint-disable-next-line selector-no-vendor-prefix */
a:-webkit-any-link:focus-visible {
  outline: none;
}

label {
  display: block;
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .tab-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .tab-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .link-hover {
    text-underline-offset: 4px;

    @media(hover) {
      &:hover {
        text-decoration: underline;
        opacity        : 1;
      }
    }
  }

  .rounded-youtube {
    border-radius: 50% 50% 50% 50% / 20% 20% 20% 20%;
  }

  .btn-theme-contur-1 {
    @apply btn-contur btn-black;

    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background-color: theme('colors.sec') !important;
        border          : 1px solid theme('colors.sec') !important;

        @apply btn-fill btn-sec;
      }
    }

    &:is([data-theme="dark"] .btn-theme-contur) {
      @apply btn-white;
    }
  }

  .btn-theme-contur-2 {
    border: 1px solid theme('colors.black / 40%') !important;

    @apply btn-contur btn-black;



    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background-color: theme('colors.sec') !important;
        border          : 1px solid theme('colors.sec') !important;

        @apply btn-fill btn-sec;
      }
    }

    &:is([data-theme="dark"] .btn-theme-contur-2) {
      @apply btn-white;
    }
  }

  .btn-theme-fill {
    @apply btn-fill btn-primary;

    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background-color: theme('colors.sec') !important;

        @apply btn-sec;
      }
    }
  }

  .btn-text {
    justify-content: start;
    text-align     : left;
  }

  .slider-pagination {
    --swiper-pagination-color                : theme('colors.sec');
    --swiper-pagination-bullet-horizontal-gap: 14px;

    @media(max-width:theme('screens.lg')) {
      --swiper-pagination-bullet-horizontal-gap: 8px;

    }
  }

  .section-padding {
    padding-top   : 72px;
    padding-bottom: 72px;

    @media(max-width:theme('screens.sm')) {
      padding-top   : 40px;
      padding-bottom: 40px;
    }
  }

  .title {
    font-family: var(--font-alt);
    font-size  : 36px;
    font-weight: 500;
    line-height: 1.25;

    @media(max-width:theme('screens.lg')) {
      font-size: 30px;
    }

    @media(max-width:theme('screens.sm')) {
      font-size: 24px;
    }
  }

  .section-title {
    margin-bottom: 52px;

    @media(max-width:theme('screens.sm')) {
      margin-bottom: 32px;
    }

  }

  .slider-arrow {
    position: absolute;
    top     : calc(50% - var(--size) / 2);
    opacity : 0.4;

    @media(hover) {
      &:hover {
        color  : theme('colors.sec');
        opacity: 1;
      }
    }

    @media(max-width:1520px) {
      display: none;
    }

    &-prev {
      right: calc(100% + 20px);
    }

    &-next {
      left: calc(100% + 20px);
    }
  }

  .section-green {
    background: url("../img/locations-bg.png") no-repeat center / cover, theme('colors.primary');

  }

  .card-shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
    transition: .2s ease;

    @media(hover) {
      &:hover {
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .rating-field {
    &-item {
      color     : theme('colors.black / 20%');
      cursor    : pointer;
      transition: transform .35s var(--elastic), color .2s ease;

      @media(hover) {
        &:hover {
          transform: scale(1.1);
        }
      }

      &:has(:checked) {
        transform: scale(1.2);

      }
    }

    &:has(:checked) &-item {
      color: theme('colors.yellow')
    }

    &-item:has(:checked)~&-item {
      color: theme('colors.black / 20%')
    }

    @media(hover) {
      &:hover &-item {
        color: theme('colors.yellow')
      }

      &-item:hover~&-item {
        color: theme('colors.black / 20%')
      }
    }

  }
}

@import './header';

.footer {
  display       : flex;
  padding-top   : 52px;
  padding-bottom: 72px;
  background    : var(--bg2);
}

.started {
  &-slide {
    display       : flex;
    flex-direction: column;
    position      : relative;
    height        : 492px;
    overflow      : hidden;
    padding       : 24px;
    border-radius : 32px;

    @media(max-width:theme('screens.lg')) {
      height       : auto;
      height       : 100%;
      padding      : 0;
      border-radius: 0;

    }

    &-image {
      position: absolute;
      top     : 0;
      left    : 0;
      width   : 100%;
      height  : 100%;

      @media(max-width:theme('screens.lg')) {
        position     : relative;
        overflow     : hidden;
        margin-bottom: 40px;
        border-radius: 16px;
      }
    }

    &-content {
      display        : flex;
      justify-content: center;
      flex-direction : column;
      flex-grow      : 1;
      position       : relative;


      @media(min-width:theme('screens.lg')) {
        width  : 470px;
        height : 100%;
        padding: 36px;
        background:
          radial-gradient(353% 142% at 0% 100%,
            rgba(255, 255, 255, 0.90) 29.4%,
            rgba(255, 255, 255, 0.30) 100%,
            rgba(255, 255, 255, 0.30) 100%);
        backdrop-filter: blur(20px);
        border-radius  : 32px;
        color          : theme('colors.black');
      }
    }

  }

  &-pagination-wrapper {
    @media(max-width:theme('screens.lg')) {
      position: absolute !important;
      top     : 8px;
      left    : 0;
      width   : 100%;

      @apply ratio ratio-[36/20];

    }

  }

}

.locations {
  overflow      : hidden;
  padding-top   : 40px;
  padding-bottom: 72px;
  color         : #fff;

  &-slider {
    @media(max-width:theme('screens.lg')) {
      overflow: visible;
    }
  }

  &-item {
    @media(max-width:theme('screens.lg')) {
      padding      : 32px;
      background   : theme('colors.sec / 20%');
      border-radius: 32px;
    }
  }
}

.index-about {
  display        : flex;
  align-items    : center;
  justify-content: space-between;

  @media(max-width:theme('screens.xl')) {
    flex-direction: column;
    gap           : 52px;
  }

  &-image {
    position    : relative;
    width       : 462px;
    max-width   : 100%;
    margin-right: 90px;

    @media(max-width:theme('screens.xl')) {
      order       : -1;
      margin-right: auto;
      margin-left : auto;
    }
  }

  &-card {
    display        : flex;
    align-items    : center;
    flex-direction : column;
    position       : absolute;
    width          : 212px;
    padding        : 40px;
    background     : radial-gradient(352.91% 141.42% at 0% 100%, #8A8A8A 0%, rgba(255, 255, 255, 0.29) 100%);
    backdrop-filter: blur(20px);
    border-radius  : 32px;
    box-shadow     : 0 20px 40px 0 rgba(0, 0, 0, 0.05);
    will-change    : transform;
    gap            : 16px;

    @media(max-width:theme('screens.md')) {
      width  : 150px;
      padding: 24px 12px;
    }

    &-1 {
      top : 0;
      left: -90px;

      @media(max-width:theme('screens.md')) {
        top : -60px;
        left: -8px;
      }
    }

    &-2 {
      right : -90px;
      bottom: 0;

      @media(max-width:theme('screens.md')) {
        right : -8px;
        bottom: -60px;
      }
    }
  }

  &-content {
    @media(max-width:theme('screens.xl')) {
      width     : 100%;
      text-align: center;
    }

    @media(max-width:theme('screens.sm')) {
      text-align: left;
    }

  }
}

.product-item {
  display       : flex;
  flex-direction: column;
  overflow      : hidden;
  background    : var(--bg3);
  border-radius : 32px;
  cursor        : pointer;

}

.tabs {
  display      : flex;
  padding      : 8px;
  background   : var(--bg1);
  border-radius: 8px;

  &-item {
    .ripple {
      display: none;
    }

    &.tab-active {
      box-shadow: 0 8px 20px 0 rgba(32, 41, 76, 0.06), 0 1px 3px 0 rgba(32, 41, 76, 0.10);

      @apply btn-whitebg;
    }
  }
}

.category-item {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  padding       : 48px 10px;
  background    :
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 60.6%),
    theme('colors.primary');
  border-radius: 32px;
  color        : #fff;
  cursor       : pointer;
  transition   : .1s ease;

  @media(max-width:theme('screens.xl')) {
    padding: 32px 10px;
  }

  @media(max-width:theme('screens.sm')) {
    padding: 27px 10px;
  }

  @media(hover) {
    &:hover {
      background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 60.6%), theme('colors.sec');
    }

    &:hover &-image {
      transform : scale(1.1);
      transition: .4s var(--elastic);
    }
  }

  &-image {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 96px;
    height         : 96px;
    background     : radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.12) 100%);
    border         : 1px solid rgba(255, 255, 255, 0.20);
    border-radius  : 32px;

    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
    font-size : 48px;
    transition: .15s ease;



  }
}

.interesting-item {
  overflow     : hidden;
  border-radius: 32px;
  transition   : .2s;

  @media(hover) {
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
  }

  &-content {
    display        : flex;
    align-items    : flex-start;
    justify-content: center;
    flex-direction : column;
    flex-grow      : 1;
    padding        : 32px 52px 20px 80px;

    @media(max-width:theme('screens.sm')) {
      padding: 20px 16px;
    }
  }
}

.special-item {
  overflow     : hidden;
  border-radius: 32px;

  &-content {
    display        : flex;
    align-items    : flex-start;
    justify-content: center;
    flex-direction : column;
    flex-grow      : 1;
    padding        : 32px 28px;
  }
}

.map {
  height: 580px;

  @media(max-width:theme('screens.xl')) {
    height: 410px;
  }

}

.reviews-item {
  position     : relative;
  overflow     : hidden;
  padding      : 70px 24px 0;
  background   : radial-gradient(352.91% 141.42% at 0% 100%, var(--bg3) 0%, var(--bg3) 0.01%, rgba(255, 255, 255, 0.29) 100%);
  border       : 1px solid var(--bg3);
  border-radius: theme('borderRadius.base');
  box-shadow   : 0 10px 20px rgba(0, 0, 0, 0.06);

  @media(max-width:theme('screens.sm')) {
    padding-top: 46px;
  }

  &-score {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    width          : 110px;
    height         : 110px;
    margin-right   : auto;
    margin-left    : auto;
    background     : radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.12) 100%);
    border-radius  : 50%;
    box-shadow     : 0 10px 20px rgba(0, 0, 0, 0.06);
    font-family    : var(--font-alt);
    font-size      : 36px;
    font-weight    : 500;


    &::before {
      content      : '';
      position     : absolute;
      inset        : -8px;
      border       : 1px solid theme('colors.primary');
      border-radius: inherit;
    }
  }

  &-logo {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 45px;
    margin-top     : 56px;

    @media(max-width:theme('screens.sm')) {
      margin-top: 32px;
    }
  }

  &-list {
    height    : 374px;
    overflow  : hidden;
    margin-top: 48px;

    &::before {
      content   : '';
      position  : absolute;
      bottom    : 0;
      left      : 0;
      width     : 100%;
      height    : 250px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--bg3) 100%);
      z-index   : 2;
    }

    @media(max-width:theme('screens.sm')) {
      margin-top: 24px;
    }
  }
}

.partners-item {
  padding-top   : 40px;
  padding-bottom: 40px;
  background    : var(--bg3);
  border-radius : theme('borderRadius.base');
  box-shadow    : 0 10px 20px 0 rgba(0, 0, 0, 0.06);

  &-image {
    height: 124px;

    img {
      width     : 100%;
      height    : 100%;
      object-fit: scale-down;
    }
  }
}

.video {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  height         : 520px;
  background     : #000;
  color          : #fff;

  @media(max-width:theme('screens.xl')) {
    height        : auto;
    padding-top   : 96px;
    padding-bottom: 96px;
  }

  &-button {
    --size: 112px;

    margin-bottom: 50px;
    background   : radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0.14) 100%);
    border-radius: 50%;
    box-shadow   : 0 20px 40px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(255, 255, 255, 0.1);
    font-size    : 32px;

    @media(hover) {
      // temp

      &:is(.btn-peer:hover~&),
      &:is(.btn-group:hover &),
      &:hover {
        background: radial-gradient(352.91% 141.42% at 0% 100%, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0.24) 100%);
      }
    }
  }
}

.service-item {
  display      : flex;
  align-items  : center;
  padding      : 8px;
  border-radius: theme('borderRadius.base');
  gap          : 40px;

  @media(max-width:theme('screens.lg')) {
    align-items   : flex-start;
    flex-direction: column;
    padding       : 16px;
    gap           : 24px;
  }

  &-image {
    flex-shrink: 0;
    width      : 360px;
    max-width  : 100%;

    @media(max-width:theme('screens.sm')) {
      width: 100%;
    }
  }
}

.address-slider {
  overflow: visible;

  @media(min-width:theme('screens.sm')) {
    user-select: all;

  }

  .swiper-wrapper {
    @media(min-width:theme('screens.sm')) {
      width                : 100% !important;
      transform            : none !important;
      display              : grid;
      grid-template-columns: 1fr 1fr;
      gap                  : 30px;
      user-select          : all;

    }
  }
}

.address-item {
  display      : flex;
  align-items  : center;
  padding      : 8px;
  border-radius: theme('borderRadius.base');
  gap          : 40px;

  @media(max-width:theme('screens.lg')) {
    align-items   : flex-start;
    flex-direction: column;
    padding       : 16px;
    gap           : 24px;
  }

  &-image {
    flex-shrink: 0;
    width      : 238px;
    max-width  : 100%;

    @media(max-width:theme('screens.sm')) {
      width: 100%;
    }
  }
}

.doctor-item {
  display      : flex;
  align-items  : center;
  padding      : 8px;
  border-radius: theme('borderRadius.base');
  gap          : 40px;

  @media(max-width:theme('screens.sm')) {
    gap: 16px;
  }


  &-image {
    flex-shrink: 0;
    width      : 238px;
    max-width  : 100%;

    @media(max-width:theme('screens.sm')) {
      width        : 116px;
      border-radius: 24px;
    }
  }
}

.detail-nav {
  display              : grid;
  align-items          : center;
  grid-template-columns: 1fr minmax(auto, 810px) 1fr;
  gap                  : 24px;
}

.detail-content {
  width    : 810px;
  max-width: 100%;

  p {
    line-height: 1.5;
    opacity    : 0.8;

    @media(max-width:theme('screens.sm')) {
      font-size: 14px;
    }
  }
}

.doctor-detail {
  display: flex;
  gap    : 75px;

  @media(max-width:theme('screens.lg')) {
    flex-direction: column;
    gap           : 32px;
  }

  &-info {
    flex-shrink: 0;
    width      : 322px;

    @media(max-width:theme('screens.xs')) {
      width: 100%;
    }
  }
}

.dialog-review {
  width        : 466px;
  max-width    : 100%;
  overflow     : hidden;
  padding      : 0;
  background   : var(--bg3);
  border-radius: theme('borderRadius.base');
  box-shadow   : 0 20px 40px 0 rgba(0, 0, 0, 0.10);

  @media(max-width:theme('screens.sm')) {
    border-radius: 12px;
  }
}

.contacts {
  display: flex;
  gap    : 48px;

  @media(max-width:theme('screens.lg')) {
    flex-direction: column;
    gap           : 32px;
  }

  &-info {
    border-radius: theme('borderRadius.base');
    background   : var(--bg3);
    box-shadow   : 0 10px 20px 0 rgba(0, 0, 0, 0.06);
    padding      : 40px 28px;
    width        : 374px;
    max-width    : 100%;
    flex-shrink  : 0;

    @media(max-width:theme('screens.sm')) {
      padding: 24px 16px;
    }
  }
}

.ymaps-2-1-79-balloon {
  box-shadow   : 0 20px 40px 0 rgba(0, 0, 0, 0.10) !important;
  border-radius: 16px;
}

.ymaps-2-1-79-balloon__content,
.ymaps-2-1-79-balloon__layout {
  border-radius: 16px;
}